@charset "utf-8";
/* Start Reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
:focus { outline: 0 }
ins { text-decoration: none }
del { text-decoration: line-through }
table { border-collapse: collapse; border-spacing: 0 }
/* End Reset css */


/* Start 960 css */
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 { margin-left: auto; margin-right: auto; width: 960px; }
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha { margin-left: 0 !important; }
.omega { margin-right: 0 !important; }
.delta { padding-right: 20px; padding-left: 0px; }
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_12 { display:inline; float: left; position: relative; margin-left: 10.0px; margin-right: 10.0px; }
/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 { width:60px; }
.container_12 .grid_2 { width:140px; }
.container_12 .grid_3 { width:220px; }
.container_12 .grid_4 { width:300px; }
.container_12 .grid_5 { width:380px; }
.container_12 .grid_6 { width:460px; }
.container_12 .grid_7 { width:540px; }
.container_12 .grid_8 { width:620px; }
.container_12 .grid_9 { width:700px; }
.container_12 .grid_10 { width:780px; }
.container_12 .grid_11 { width:860px; }
.container_12 .grid_12 { width:940px; }
/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 { padding-left:80px; }
.container_12 .prefix_2 { padding-left:160px; }
.container_12 .prefix_3 { padding-left:240px; }
.container_12 .prefix_4 { padding-left:320px; }
.container_12 .prefix_5 { padding-left:400px; }
.container_12 .prefix_6 { padding-left:480px; }
.container_12 .prefix_7 { padding-left:560px; }
.container_12 .prefix_8 { padding-left:640px; }
.container_12 .prefix_9 { padding-left:720px; }
.container_12 .prefix_10 { padding-left:800px; }
.container_12 .prefix_11 { padding-left:880px; }
.container_12 .prefix_12 { padding-left:960px; }
/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 { padding-right:80px; }
.container_12 .suffix_2 { padding-right:160px; }
.container_12 .suffix_3 { padding-right:240px; }
.container_12 .suffix_4 { padding-right:320px; }
.container_12 .suffix_5 { padding-right:400px; }
.container_12 .suffix_6 { padding-right:480px; }
.container_12 .suffix_7 { padding-right:560px; }
.container_12 .suffix_8 { padding-right:640px; }
.container_12 .suffix_9 { padding-right:720px; }
.container_12 .suffix_10 { padding-right:800px; }
.container_12 .suffix_11 { padding-right:880px; }
.container_12 .suffix_12 { padding-right:960px; }
/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 { left:80px; }
.container_12 .push_2 { left:160px; }
.container_12 .push_3 { left:240px; }
.container_12 .push_4 { left:320px; }
.container_12 .push_5 { left:400px; }
.container_12 .push_6 { left:480px; }
.container_12 .push_7 { left:560px; }
.container_12 .push_8 { left:640px; }
.container_12 .push_9 { left:720px; }
.container_12 .push_10 { left:800px; }
.container_12 .push_11 { left:880px; }
.container_12 .push_12 { left:960px; }
/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 { right:80px; }
.container_12 .pull_2 { right:160px; }
.container_12 .pull_3 { right:240px; }
.container_12 .pull_4 { right:320px; }
.container_12 .pull_5 { right:400px; }
.container_12 .pull_6 { right:480px; }
.container_12 .pull_7 { right:560px; }
.container_12 .pull_8 { right:640px; }
.container_12 .pull_9 { right:720px; }
.container_12 .pull_10 { right:800px; }
.container_12 .pull_11 { right:880px; }
.container_12 .pull_12 { right:960px; }
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End 960 css */

body { background-color: #bbb; font-family: verdana, arial, helvetica, sans-serif; font-size:12px; margin: 0 auto; padding: 0; color:#333; }
.signinStrip h5 { text-transform:none !important; }
a { color: #006DD2; text-decoration: none; }
a:hover { text-decoration: underline; }
/* Main Navigation */
#main-nav { border-bottom:1px solid #599cc5; height: 12px; width: 706px; margin:0px 0px 20px 0px; padding:0px 0px 10px 4px; }
#main-nav dl { float: left; margin: 0px; padding: 0px; height: 14px !important; overflow: hidden; }
#main-nav dt { float: left; margin: 0px; padding: 0px; }
#main-nav dt a { float: left; display: block; height /**/:14px; /* IE 5/Win hack */ margin: 0px; padding: 0 8px; font-size: 12px !important; font-weight: bold; text-decoration:none; font-family: Arial, Helvetica, Geneva, sans-serif; color: #fff; text-transform: uppercase; border: none; border-right: 1px solid #cbcbcb; letter-spacing: .04em; }
#main-nav dt a.none { float: left; border-right:none; }
#main-nav dt a:hover { float: left; color: #c2dd1f; }
body.cio dt#cio, body.cio dt#cio a, body.cio dt#cio a:hover, body.gartner-live dt#gartner-live, body.gartner-live dt#gartner-live a, body.gartner-live dt#gartner-live a:hover, body.it-metrics dt#it-metrics, body.it-metrics dt#it-metrics a, body.it-metrics dt#it-metrics a:hover, body.initiatives dt#initiatives, body.initiatives dt#initiatives a, body.initiatives dt#initiatives a:hover, body.innovations dt#innovations, body.innovations dt#innovations a, body.innovations dt#innovations a:hover, body.vendor dt#vendor, body.vendor dt#vendor a, body.vendor dt#vendor a:hover { color: #c2dd1f; ; }
/* End Main Navigation */


.dotted { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; margin: 24px 0 17px; padding: 0px 0px 0px 0px; height:1px; width:100%; }
.dotted2 { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; margin: 24px 0 17px; padding: 0px 0px 0px 0px; height:1px; width:320px; }
.home-main-content { background:#fff; border-radius:4px; float:left; margin:10px 0px 0px 0px; padding:16px 10px 0px 10px; width:690px; }
.home-main-content h3 { color:#7fa037; font-family:Arial, Helvetica, Geneva, sans-serif; font-size:18px; font-weight:normal; margin:0px 0px 13px 0px; padding:0px 0px 2px 0px; border-bottom:1px solid #b9d0dc; }
.home-main-content h4 { color:#7FA037; font-size:10px; margin:0px; padding:0px 0px 4px 0px; text-transform:uppercase; }
.home-main-content h4 a { background: url("http://na3.www.gartner.com/imagesrv/images/icons/arrow-green.gif;wa24df26305d62eee8") no-repeat scroll right center transparent; color:#5c6970; padding:0px 8px 0px 0px; text-decoration: none; }
.home-main-content h4 a:hover { text-decoration: underline; }
span.gray { color:#3f484d; }
.go { padding-right: 8px; background: transparent url("http://na3.www.gartner.com/imagesrv/research/images/channels/arrow-green.gif;wabed08a6228386d02") right 5px no-repeat; }
.promo-wrapper img { margin-top: 5px; }
.this-week-block { display:inline-block; float:left; margin:0px; padding:0px 10px 0px 0px; width:130px; }
.this-week-block-none { float:left; margin:0px; padding:0px; width:130px; }
.this-week-block dl, .this-week-block-none dl { margin: 0px; padding: 0px; font-size:11px; }
.this-week-block dt, .this-week-block-none dt { margin: 0px; padding: 0px 0px 8px 0px; line-height:14px; font-size:11px; font-weight:normal; }
#indispensable-block .this-week-block, #indispensable-block .this-week-block-none { font-size:11px; font-weight:bold; line-height:14px; }
#indispensable-block .spriteHeads-bg { background:url("http://na1.www.gartner.com/imagesrv/images/headshots/itProSprite16-9.jpg;wa13bd4a579a7752da") 0 0; display:inline-block; margin: 0 0 6px; padding: 0px; height:73px; line-height:14px; font-size:11px; width:130px; }
#indispensable-block .this-week-block > a.spriteHead1 { background-position: 0px 0px; }
#indispensable-block .this-week-block > a.spriteHead2 { background-position: -130px 0px; }
#indispensable-block .this-week-block > a.spriteHead3 { background-position: -260px 0px; }
#indispensable-block .this-week-block > a.spriteHead4 { background-position: -390px 0px; }
#indispensable-block .this-week-block > a.spriteHead5, #indispensable-block .this-week-block-none > a.spriteHead5 { background-position: -520px 0px; }
.this-week-block dd, .this-week-block-none dd { margin: 0px 0px 5px 0px; padding: 0px; line-height:14px; }
.this-week-block dt a, .this-week-block-none dt a { color:#5c6970; text-transform:none; }
.this-week-block dt a:hover, .this-week-block-none dt a:hover { text-transform:underline; }
.this-week-block:hover dt a, .this-week-block-none:hover dt a { color:#06c; }
.this-week-block:hover h4 a, .this-week-block-none:hover h4 a { color:#7fa037; }
ul.bullets { margin:0px; padding:0px 0px 10px 0px; }
ul.bullets li { background: transparent url("http://na1.www.gartner.com/imagesrv/images/bullet_blue.gif;wa96448c1fe202747d") scroll left 4px no-repeat; font-weight:normal; padding: 0px 0px 5px 15px; margin:  0px; }
ul.bullets-none { float:left; display:inline; margin:0px 0px 0px 0px; padding:0px 0px 10px 15px; }
ul.bullets-none li { display:inline; background:none; font-weight:normal; padding: 0px 0px 0px 0px; margin:  0px 0px 0px 0px; }
ul.bullets-none li a { display:inline; font-weight:bold; padding: 0px 0px 0px 0px; margin:  0px 0px 0px 0px; }
#indispensable-block { float:left; margin:27px 0px 0px 0px; padding:0px; width:690px; }
#indispensable-block .this-week-block dt a, #indispensable-block .this-week-block-none dt a { color: #006DD2; font-weight:bold; text-transform: none; }
#indispensable-block .this-week-block dt a:hover, #indispensable-block .this-week-block-none dt a:hover { color: #006DD2; text-transform: underline; }
#indispensable-block h1 { border-bottom:1px solid #b9d0dc; color:#7FA037; font-family:Arial, Helvetica, Geneva, sans-serif; font-size:18px; margin:0 0 6px; padding:0 0 2px; }
.indispensable-bg { margin: 0px; padding:0px; }
.message { border:none; color: #8497A1; font-family: Arial, Helvetica, Geneva, sans-serif; font-weight:normal; font-size: 15px; margin: 0; padding: 0 0 15px; width: 690px; }
h1 { font-size:24px; margin:0px; padding:0px 0px 0px 10px; font-family:arial, helvetica, sans-serif, verdana; font-weight:normal; color:#96bc44; line-height:1.1em; }
h5 { color:#7fa037; margin:0px; padding:0px 0px 4px 0px; font-weight:bold; text-transform:uppercase; }
h6 { margin:0px; padding:0px 0px 4px 0px; font-weight:bold; text-transform:none; }
.content { text-align:left; margin:17px 0px 0px 0px; padding:0px 350px 16px 0px; font-size:15px; font-weight:normal; line-height:19px; color:#333; }
.content p { padding:21px 0px 0px 0px; }
.video-bg { float:right; margin:12px 0px 0px 0px; padding:10px 13px 0px 14px; background:url("http://na1.www.gartner.com/imagesrv/research/images/channels/white-corner-top.gif;wad654e867464db72a") no-repeat left top; background-color:#fff; width:320px; height:auto; display:inline; }
.related-content { line-height:16px; margin: 8px 0px 0px 0px; padding: 0px; }
.related-content h6 { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x scroll left bottom transparent; margin: 0px 0px 8px 0px; padding: 0px 0px 5px 0px; }
.related-content h6.normal { background:none; font-weight:bold; padding:10px 0px 0px 0px; }
dl.related-items { margin: 0px; padding: 0px; }
.related-items dt { margin: 0px 0px 2px 0px; padding: 0px; font-weight: bold; }
.related-items dd { margin: 0px 0px 11px 0px; padding: 0px; }
.floatL { float: left; margin: 0; padding: 0; }
.floatL-padd { float: left; margin: 0px 10px 6px 0px; padding: 0px; }
.share-box { background:url("http://na1.www.gartner.com/imagesrv/images/share-this-bg.gif;waf6ffcf282144dc21") no-repeat left top; display:block; height:49px; margin: 0px 0px 0px 20px; padding: 15px 0px 0px 0px; position:relative; width:680px; z-index:2; }
.share-box li#facebook_share_icon iframe { float:left; width:73px !important; border:none; height:18px; overflow:hidden; }
.share-box li#facebook_share_icon { width:83px !important; }
.share-box li#twitter_share_icon iframe { float:left; width:87px !important; border:none; height:18px; overflow:hidden; }
.share-box li#twitter_share_icon { width:96px !important; }
.share-box li#linkedin_share_icon { width: 112px !important; }
.share-box li#google_share_icon { float:left; width: 90px !important; border:none; height:20px; overflow:hidden; }
.share-box p#shareThis { display:inline; font: bold 11px/18px 'Helvetica Neue', helvetica, sans-serif; margin:0px; padding: 21px 10px 18px 10px; }
#share { float:left; margin-left:10px; }
.share-box p#shareThis span.label { display: block; float: left; width: 57px; }
.share-box p#shareThis a { color: #000000; display: block; float: left; font-size: 10px; font-weight: normal; height: 16px; line-height: 16px; margin-right: 12px; padding-left: 22px; text-transform: uppercase; }
/* Right Rail */ 
.right-rail { float:left; margin:0px; padding:0px; text-align:left; }
/* Homepage Become a Client/Experience Gartner */
.vcard span.tel { color:#C2DD21; speak: spell-out; speak-numeral: digits; }
#become-a-client h4 { background:none; margin: 0; padding: 0px 0px 4px 0px; color:#fff; font-family:Arial; font-size:21px; font-weight:normal; }
#become-a-client #phone { background: url("http://na2.www.gartner.com/imagesrv/images/icons/phone_img.gif;waee3e3cbdcc1dbf0b") no-repeat 0px 6px; color:#c2dd21; display:inline-block; font-family:Arial; font-size:18px; letter-spacing:0.08em; margin:0px; padding:2px 0 6px 23px; }
#become-a-client h5 { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left top; color:#98C7E0; font-weight:normal; margin:0px; padding:11px 0 0; text-transform:none; }
#become-a-client span#green { color:#c2dd21; float:left; font-family:Arial; font-size:13px; font-weight:bold; letter-spacing:0.05em; padding:3px 0 0; text-transform:uppercase; }
#become-a-client a.go { background: url("http://na3.www.gartner.com/imagesrv/images/icons/arrow-white.gif;wa3642932910e0079b") no-repeat right center; color:#c2dd21; text-decoration:none; }
#become-a-client a:hover.go { text-decoration:underline; }
#register { background: url("http://na1.www.gartner.com/imagesrv/research/images/experience-bg.gif;wad57e67470fe7f348") repeat-x 0 0; border-radius: 4px 4px 4px 4px; margin:0px 0px 10px 0px; padding:16px 21px 0px 21px; height:105px; font-size:11px; line-height:14px; width:198px; }
#register h4 { margin: 0px; padding: 0px 0px 12px 0px; color:#fff; font-family:Arial; font-size:21px; font-weight:normal; }
#register p { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; color:#b9d0dc; margin:0 0 13px; padding:0 0 13px; }
#register .blue { color:#cbe5f2; font-weight:bold; }
#register a.go { background: url("http://na3.www.gartner.com/imagesrv/images/icons/arrow-white.gif;wa3642932910e0079b") no-repeat right center; color:#c2dd21; font-family:Arial; font-size:13px; font-weight:bold; letter-spacing:0.05em; text-decoration:none; text-transform:uppercase; }
#register a:hover.go { text-decoration:underline; }
#become-a-client.eub_promo h4 { padding:0 !important; }
#become-a-client.eub_promo h5 { padding: 4px 0 1px; }
#become-a-client.eub_promo p {padding: 0 0 2px 0; }
#become-a-client.eub_promo span#green { padding: 1px 0 0; }
#become-a-client.uk_promo h4 { padding:0 !important; }
#become-a-client.uk_promo h5 { padding: 4px 0 1px; }
#become-a-client.uk_promo p {padding: 0 0 2px 0; }
#become-a-client.uk_promo span#green { padding: 1px 0 0; }
/* End Homepage Become a Client/Experience Gartner */

.shareBlock { display:inline-block; margin:10px 0 0; padding:0px; width:220px; }
.shareBlock p#stayconnected { color:#5C6970; font-size:11px; text-transform:uppercase; font-family:arial, sans-serif, verdana; font-weight:bold; margin:0px; padding:0px 10px 0px 0px; float:right; }
.shareBlock p#stayconnected span.label { display: inline-block; float: left; margin:6px 0px 0px 0px; padding:0px; position:relative; top:-3px; }
.shareBlock p#stayconnected a { float:left; display:block; margin:0px; padding:0px 0px 0px 4px; }
.promo-wrapper { margin: 5px 0 0; padding: 0; width:220px; }
/* Looking for Answers - Right Rail */
.answers-block { background: url("http://na2.www.gartner.com/imagesrv/research/images/channels/answers-bottom.gif;wa9f1b48905ae446d0") no-repeat scroll left bottom transparent; display:inline-block; margin: 10px 0px 0px 0px; padding: 0 0px 18px 0px; width: 220px; }
div.answers-block h4 { background: url("http://na3.www.gartner.com/imagesrv/research/images/channels/answers-top.gif;wab66439d6a32a75f8") no-repeat scroll left top transparent; color: #96bc44; font-size:18px; font-family:arial, helvetica, sans-serif, verdana; font-weight:normal; height: auto; margin: 0 0px 0px 0px; padding: 15px 0px 7px 11px; width:209px; }
.tripleFindPad { display:inline-block; margin:12px 0px 0px 0px; padding:0px 0px 0px 11px; }
.tripleFindPad h5 { font-family: arial, helvetica, sans-serif, verdana; color:#333; font-size: 11px; margin: 0px 0px 2px 0px; padding: 0px; text-transform:uppercase; }
.tripleFindPad select.tech_select { color:#333; font-size: 11px; height:21px; margin: 0px; padding: 2px 0 0; width: 216px; }
.triplelist { margin: 0; padding: 0px; list-style: none; }
.triplelist li { list-style: none; }
.triplelist li ul { margin: 18px 0 0 0; padding: 8px 0 8px 0; position: absolute; visibility: hidden; left:10px; border: 1px solid #999; background:#fff; overflow:hidden; }
.triplelist li ul li { display: inline; margin:0; padding:0; height:16px; float:left; width:308px; }
.triplelist li ul li a { display: block; background: #fff; padding: 0px 0px 0px 4px; text-decoration: none; font-size:11px; color: #000000; white-space:nowrap; height:16px; width:100%; float: left; font: 11px Verdana, Arial; margin:0; }
.triplelist li ul li a:hover { color:#FFFFFF; text-decoration:none; background:url("http://na2.www.gartner.com/imagesrv/research/images/channels/icons/pat-dropdown.gif;wac7324e80868b2d3e") repeat-x 0 0; }
.triplelist .default { float:left; font-weight:normal; width:196px; border:1px solid #ABABAB; background:#FFFFFF; }
.default .default-link { color:#000000; padding:0px 0 0 4px; text-decoration:none; background-color:#FFFFFF; height:16px; float:left; width:158px; font-size:11px; line-height:16px; }
.triplelist .drop-arrow { width:17px; height:16px; float:right; margin:0; padding:0; border:none; background:url("http://na3.www.gartner.com/imagesrv/research/images/channels/icons/dropdown-multistate.gif;wa676736d3b883acd5") no-repeat 0 0; }
/* Looking for Answers - Right Rail */

/* Looking for Answers - Homepage */
.dropdown-block { margin:27px 0px 0px 0px; padding:0px; }
.dropdown-block h4 { background: none; color: #7FA037; font-size:18px; font-family:arial, helvetica, sans-serif, verdana; font-weight:normal; margin: 0; padding: 0px; text-transform:none; }
.dropdown-block .answers-block { background: url("http://na2.www.gartner.com/imagesrv/research/images/answers-bg.gif;waf935cc849985d19d") repeat-x scroll 0 0 transparent; border-radius: 4px 4px 0 0; display: inline-block; margin: 2px 0 0; padding: 0px 10px 26px 10px; width: 670px; }
.tripleFindPad-home { display: inline-block; float:left; margin: 12px 0 0; padding: 0 10px 0 0; position: relative; }
.tripleFindPad-home h5 { color: #5C6970; font: bold 11px/14px verdana, arial, helvetica, sans-serif; margin: 0; padding: 0 0 10px; text-transform: uppercase; }
.tripleFindPad-home select.tech_select { color:#333; font-size: 11px; height:21px; margin: 0px; padding: 2px 0 0; width: 214px; }
.triplelist-home { margin: 0; padding: 0px; list-style: none; }
.triplelist-home li { list-style: none; }
.triplelist-home li ul { margin: 18px 0 0 0; padding: 8px 0 8px 0; position: absolute; visibility: hidden; left:0px; border: 1px solid #999; background:#fff; overflow:hidden; z-index: 3; }
.triplelist-home li ul li { display: inline; margin:0; padding:0 20px 0 0; height:16px; float:left; width:100%; }
.triplelist-home li ul li a { display: block; background: #fff; padding: 0px 0px 0px 4px; text-decoration: none; font-size:11px; color: #333; white-space:nowrap; height:16px; width:100%; float: left; font: 11px Verdana, Arial; margin:0; }
.triplelist-home li ul li a:hover { color:#fff; text-decoration:none; background:url("http://na2.www.gartner.com/imagesrv/research/images/channels/icons/pat-dropdown.gif;wac7324e80868b2d3e") repeat-x 0 0; }
.triplelist-home .default-home { float:left; font-weight:normal; width:214px; border:1px solid #ABABAB; background:#fff; }
.default-home .default-link { color:#333; padding:0px 0 0 4px; text-decoration:none; background-color:#fff; height:16px; float:left; width:158px; font-size:11px; line-height:16px; }
.triplelist-home .drop-arrow-home { width:17px; height:16px; float:right; margin:0; padding:0; border:none; background:url("http://na3.www.gartner.com/imagesrv/research/images/channels/icons/dropdown-multistate.gif;wa676736d3b883acd5") no-repeat 0 0; }
.dropdown-block .answers-block .nopadd { padding:0px; }
/* Looking for Answers - Homepage */


/* Contact Gartner */
.contact_gartner { display:inline-block; font-size: 11px; margin: 18px 0px 0px 0px; padding: 14px 15px 14px 15px; width:190px; }
.contact_gartner h4 { background: url("http://na1.www.gartner.com/imagesrv/images/contact-dotted.gif;wa8af79a1f490051da") no-repeat scroll left bottom transparent; border:0px; color:#333; font-size: 11px; margin: 0px; padding: 0px 0px 9px 0px; text-transform: uppercase; }
.contact_gartner ul { font-weight:normal; padding: 0px; margin: 5px 0px 0px 0px; }
.contact_gartner ul li { padding: 0px 0px 8px 0px; margin: 0px; }
.techLeftFoot { font-weight: normal; }
/* Events/Webinars css */
#events_webinars { margin: 10px 0 0px 0; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border: 1px solid #C2CBD0; }
#events_webinars_tabs { margin: 2px 2px 2px 2px; height: 34px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #eaeeef; /* Old browsers */ background: -moz-linear-gradient(top, #eaeeef 0%, #dbe1e3 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeeef), color-stop(100%, #dbe1e3)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #eaeeef 0%, #dbe1e3 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #eaeeef 0%, #dbe1e3 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #eaeeef 0%, #dbe1e3 100%); /* IE10+ */ background: linear-gradient(top, #eaeeef 0%, #dbe1e3 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeeef', endColorstr='#dbe1e3', GradientType=0 ); /* IE6-9 */ }
#events_webinars_tabs a { font-weight: bold; font-size: 12px; position: relative; top: 12px; padding: 6px 10px; margin: 0 0 0 8px; border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; background: #F8F8F8; border-bottom: 1px; color: #5B6970; border: 1px solid #dbe1e3; }
#events_webinars_tabs a:last-child { margin: 0 0 0 2px; }
#events_webinars_tabs a.on { color: #96BC44; background: #fff; border: 1px solid #fff; }
#upcoming-events-list { background: url(http://na3.www.gartner.com/imagesrv/images/bkg_eventsCalendar.png;wa67689ef10a83a6f1) center bottom no-repeat; }
#upcoming-webinars-list { background: url(http://na1.www.gartner.com/imagesrv/images/bkg_webinarCalendar.png;wa6b2cf8fb0c40ea37) center bottom no-repeat; }
#upcoming-events-list li.event-item, #upcoming-webinars-list li.webinar-item { display: none; }
#events_webinars ul { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#events_webinars ul li { padding: 10px 0; margin: 0 17px; font-family: arial, helvetica, verdana, sans-serif; font-size: 11px; border-top: 1px dotted #C2CBD0; }
#events_webinars ul li a { font-size: 12px; font-weight: bold; line-height: 135%; }
#events_webinars ul li strong { line-height: 150%; }
#events_webinars ul li.view-all a { display: block; height: 30px; }
#events_webinars ul li.view-all { margin: 0; padding: 0; }
#events_webinars ul li.view-all a:hover { text-decoration: none; }
#events_webinars ul li:first-child, #events_webinars ul li:last-child { border: none; }
/* End Events/Webinars css */

/* New Article pages css */
#article-wrapper { background: url("http://na2.www.gartner.com/imagesrv/images/blue-gradient-bg.gif;wacc24091004380f80") 0 0 repeat-x #fff; height: auto; margin: 0 auto; padding: 20px 0 46px; text-align:left; width: 990px; }
.role-summary { color:#fff; display: inline-block; margin:0 0 21px; padding:0px 0px 0px 10px; }
.role-summary p { line-height: 16px; }
.role-summary h1 { color: #fff; font: normal 32px/32px arial, helvetica, sans-serif, verdana; margin: 0 0 10px; padding: 0; }
#become-a-client { display: none; background: url("http://na2.www.gartner.com/imagesrv/images/bac-bg.gif;wabef436655b582b1c") 0 0 repeat-x; border-radius: 4px; color: #98C7E0; font-size: 11px; height:129px; margin: 0 0 5px; padding: 10px 21px 0 21px; width:198px; }
/*---------------------------------------------------*/
#featBoxContainer { width:710px; float:left; margin:0; padding:63px 0 0; position:relative; }
#featBoxContainer #articleBackground { width:710px; background:#fff; border-radius:4px; position:absolute; top:63px; z-index:0; height:400px; }
#channelArticles { margin:0; padding:0; }
#channelArticles h2 { color: #7fa037; border-bottom: 1px solid #dbdcdd; font: normal 21px/1em arial, helvetica, sans-serif, verdana; margin: 0; padding: 0 0 10px; }
#channelArticles h3 { color: #000; font-size: 15px; font-weight: normal; line-height: 1.2em; margin: 0 0 11px; padding: 0; text-transform:none; }
#channelArticles h5 { color: #666; font-size: 12px; font-family:arial, sans-serif; font-weight: normal; margin: 0 0 4px; padding: 0; text-transform:none; }
#channelArticles p { padding-bottom:10px; }
#channelArticles #media-block { float:right; margin:0px; padding:0px 0px 0px 20px; }
#channelArticles #media-block img { margin:10px; padding:0px; }
#channelArticles>div { width:710px; display:none; border-radius:4px; position:relative; z-index:1; }
#channelArticles>div>div { margin:10px; padding:20px 10px; border-radius:4px; background:#fff url("http://na1.www.gartner.com/imagesrv/images/articleBg.gif;wa460627405919931a") repeat-x 0 0; }
#featBoxContainer #f_btns { top:0px; display:inline; font-family:Arial, Helvetica, Geneva, sans-serif; font-size:12px; height:62px; position:absolute; padding:0px; width:710px; z-index:11; }
#featBoxContainer #f_btns ul { float:left; margin:0; padding:0; list-style:none; }
#featBoxContainer #f_btns ul li { float:left; position:relative; display: inline-block; }
#featBoxContainer #f_btns ul li.navbtn { width:230px; height:54px; margin:0 10px 0 0; font-weight:normal; background:#eaf2f8; 	/* Old browsers */
	/* IE9 SVG,needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;
 base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZjJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2Q0ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #eaf2f8 0%, #b7d4e6 100%); /* FF3.6+*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf2f8), color-stop(100%, #b7d4e6)); /* Chrome,Safari4+*/
	background:-webkit-linear-gradient(top, #eaf2f8 0%, #b7d4e6 100%); /* Chrome10+,Safari5.1+*/
	background:-o-linear-gradient(top, #eaf2f8 0%, #b7d4e6 100%); /* Opera 11.10+*/
	background:-ms-linear-gradient(top, #eaf2f8 0%, #b7d4e6 100%); /* IE10+*/
	background:linear-gradient(top, #eaf2f8 0%, #b7d4e6 100%); 	/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf2f8', endColorstr='#b7d4e6', GradientType=0 ); /* IE6-8 */ 	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; cursor:pointer; }
#featBoxContainer #f_btns ul li.navbtn:last-child { margin-right: 0; }
#featBoxContainer #f_btns ul li.navbtn.active, #featBoxContainer #f_btns ul li.navbtn:hover { /* IE9 SVG,needs conditional override of 'filter' to 'none' */ background:#ffffff;  /* Old browsers */ /* IE9 SVG,needs conditional override of 'filter' to 'none' */ background:url(data:image/svg+xml;
 base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGY5ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #ffffff 0%, #f0f9ff 100%); /* FF3.6+*/ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f9ff)); /* Chrome,Safari4+*/ background:-webkit-linear-gradient(top, #ffffff 0%, #f0f9ff 100%); /* Chrome10+,Safari5.1+*/ background:-o-linear-gradient(top, #ffffff 0%, #f0f9ff 100%); /* Opera 11.10+*/ background:-ms-linear-gradient(top, #ffffff 0%, #f0f9ff 100%); /* IE10+*/ background:linear-gradient(top, #ffffff 0%, #f0f9ff 100%); 	/* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f9ff', GradientType=0 ); /* IE6-8 */ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#featBoxContainer #f_btns ul li.navbtn span { display:block; color:#566670; padding:0 10px; font-size:12px; line-height:13px; position:absolute; top:50%; }
#featBoxContainer #f_btns ul li.navbtn.active { cursor:pointer; }
#featBoxContainer #f_btns ul li.navbtn.active span { color:#2a3e4b; }
#featBoxContainer #f_btn_arrow { position:absolute; top:57px; margin:0; z-index: 11; }
/* End FeatureBox */

body#article-pages .container_12 .grid_9 { width: 710px; }
body#article-pages .container_12 .grid_3 { width: 240px; margin:0px; }
#rr-bg-white { background:#fff; border-radius:4px; margin:0px; padding:0px 10px 0px 10px; width:220px; }
/* End new article css */

/* CSS Buttons */
a.btn { display:inline-block; padding:7px 19px 0 0px; height:25px; font: 16px/19px Helvetica, Arial, sans-serif; color:#fff; text-decoration:none; margin:8px 8px 0 0; background: rgb(153,188,76); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YmM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGEwMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(153, 188, 76, 1) 0%, rgba(128, 160, 57, 1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153, 188, 76, 1)), color-stop(100%, rgba(128, 160, 57, 1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(153, 188, 76, 1) 0%, rgba(128, 160, 57, 1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(153, 188, 76, 1) 0%, rgba(128, 160, 57, 1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(153, 188, 76, 1) 0%, rgba(128, 160, 57, 1) 100%); /* IE10+ */ background: linear-gradient(top, rgba(153, 188, 76, 1) 0%, rgba(128, 160, 57, 1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bc4c', endColorstr='#80a039', GradientType=0 ); /* IE6-8 */ border:1px solid #96aa6a; border-radius:4px; position:relative; }
a.btn:hover { background: rgb(137,171,63); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5YWIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MThmMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(137, 171, 63, 1) 0%, rgba(113, 143, 49, 1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 171, 63, 1)), color-stop(100%, rgba(113, 143, 49, 1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(137, 171, 63, 1) 0%, rgba(113, 143, 49, 1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(137, 171, 63, 1) 0%, rgba(113, 143, 49, 1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(137, 171, 63, 1) 0%, rgba(113, 143, 49, 1) 100%); /* IE10+ */ background: linear-gradient(top, rgba(137, 171, 63, 1) 0%, rgba(113, 143, 49, 1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ab3f', endColorstr='#718f31', GradientType=0 ); /* IE6-8 */ }
a.btn span { display:block; position:absolute; }
a.btn span.btnIcon { width:25px; height:21px; top:5px; left:8px; background:url("http://na1.www.gartner.com/imagesrv/images/icons/btnSprite.png;wa2fbd26e6f83a42a7") 0 0 no-repeat; }
a.btn span.btnArrow { width:5px; height:8px; top:50%; right:8px; background:url("http://na3.www.gartner.com/imagesrv/images/icons/cta-arrow.png;wacbb793b72a3baef0"); margin-top:-4px; }
a.btn.btnWebinar { padding-left:42px; }
a.btn.btnWebinar span.btnIcon { background-position:0 0; }
a.btn.btnResearch { padding-left:35px; }
a.btn.btnResearch span.btnIcon { background-position:-25px 0; }
a.btn.btnSurvey { padding-left:42px; }
a.btn.btnSurvey span.btnIcon { background-position:-50px 0; }
.buttons-wrapper { margin: 0; padding: 0; position: relative; }
.greenBtn { float: left; margin: 15px 18px 22px 0; padding: 0; }
.btn .corner { width: 4px; height: 4px; position: absolute; display: block; background: url("http://na2.www.gartner.com/imagesrv/images/icons/white-corners.png;waf0555b07d7b1a14f") 0 0 no-repeat; z-index: 25; }
.btn .cornerTL { top: 0; left: 0; background-position: top left; }
.btn .cornerTR { top: 0; right: 0; background-position: top right; }
.btn .cornerBL { bottom: 0; left: 0; background-position: bottom left; }
.btn .cornerBR { bottom: 0; right: 0; background-position: bottom right; }
/* End CSS buttons */
.inner-content { background:#fff; border-radius:4px; display:inline-block; margin:0; padding:10px 10px 0px 10px; width:690px; }
.inner-content h2 { color: #666; font: normal 21px/24px arial, helvetica, sans-serif, verdana; padding: 0 0 2px; }
.inner-content h3 { color: #8497a1; font-family: arial, sans-serif, verdana; font-size: 1.7em; font-weight: normal; letter-spacing: -0.01em; line-height: 1.3em; margin: 0; padding: 0px 0px 6px 0px; }
.text-block { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; margin:0 0 15px; padding:0 0 15px; }
.text-block img { margin: 3px 5px 0 0; padding: 0; }
.text-block h5 { color:#333; margin:8px 0 0; padding:0px; text-transform:none; }
.floatLeft { float: left; }
.orange_arrow { background: url("http://na3.www.gartner.com/imagesrv/images/orangeArrow.jpg;wa62ef94c174cf360e") no-repeat right 6px; height: 6px; margin: 0; padding: 0 8px 0 0; }
.text-block ul { margin:10px 0px 0px 0; padding:0px; }
.text-block li { margin: 0; padding: 0px 0px 3px 0px; }
.inner-content .solid { background:none; border-bottom: 1px solid #BED4DF; margin:0 0 24px; padding:0 0 17px; }
.inner-content .none { background:none; margin:0; padding:0; }
.inner-content h3.h3text { color: #333; font: normal 15px/18px verdana, arial, helvetica, sans-serif; letter-spacing: -0.01em; line-height: 18px; margin: 0; padding: 2px 0 6px; }
.sign2 { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; display:inline-block; margin: 0 0 16px; padding: 0 0 16px; }
.sign2 ul.research { float: left; list-style-type: none; margin: 0; padding: 0 0 0 2px; width: 314px; }
.sign2 li.bullet_blue { background: transparent url("http://na1.www.gartner.com/imagesrv/images/bullet_blue.gif;wa96448c1fe202747d") scroll left 4px no-repeat; font-weight: normal; list-style-position: outside; margin: 0 0 12px 15px; padding: 0 0 0 12px; }
.sign2 li.bullet_none { background:none; font-weight: normal; margin: 0 0 12px; padding: 0 0 0 15px; }
.sign2 li.none { margin:0 0 0 15px; }
.text-block #plus3 { background:none; margin:0; padding:0; }
.heading { color:#fff; display:inline-block; margin:0; padding:0 0 0px 10px; }
.roles-heading { color:#fff; display:inline-block; margin:0; padding:0 0 8px 10px; }
.heading h1 { color: #FFFFFF; font: 32px/32px arial, helvetica, sans-serif, verdana; margin: 0 0 6px; padding: 0; }
.roles-heading h1 { color: #FFFFFF; font: 26px/26px arial, helvetica, sans-serif, verdana; margin: 0 0 6px; padding: 0; }
.heading h5, .roles-heading h5 { color: #c2dd1f; font: normal 11px/11px arial, helvetica, sans-serif, verdana; margin: 0; padding: 0; }
.heading p, .roles-heading p { padding-bottom:20px; }
#inner-bg { background: url("http://na1.www.gartner.com/imagesrv/images/articleBg.gif;wa460627405919931a") repeat-x scroll 0 0 #FFFFFF; border-radius: 4px 4px 4px 4px; margin: 0px; padding: 20px 10px; width:670px; }
#inner-bg p { padding:0px 0px 10px 0px; }
#inner-bg .intro { color: #333333; font-size: 15px; font-weight: normal; line-height: 19px; margin: 0; padding: 0 0 16px; }
#analyst-block { display:inline-block; margin:8px 0 0; padding:0; width:670px; }
#analyst-block .text-block { background:none; float:left; display:inline-block; margin:0px 20px 0px 0px; padding:0px; width:320px; }
#analyst-block .none { margin:0px; padding:0 10px 0 0; width:320px; }
#analyst-block .none p { padding:0 0px 10px 0; }
#analyst-block h4, #analyst-btm h4 { color:#333; font:normal 18px/21px arial, helvetica, sans-serif, verdana; margin:0px; padding: 0px 0px 2px 0px }
#analyst-btm { display:inline-block; margin:27px 0 0; padding:0; }
#analyst-btm .text-block { background:none; float:left; display:inline-block; margin:0px 20px 0px 0px; padding:0px; width:320px; }
#analyst-btm .none { margin:0px; padding:0 0px 0 0; width:330px; }
#analyst-btm p { padding:0; }
#research-block { display:inline-block; margin:0; padding:0; width:670px; }
#research-block .colItem { float:left; display:inline-block; margin:0 20px 0px 0; padding:0; width:320px; }
#research-block .nomargin { float:left; display:inline-block; margin:0; padding:0; width:320px; }
#research-block .colItem .text-block { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; margin:0 0px 15px 0; padding:0 0 15px; }
#research-block .colItem .none { background:none; margin:0; padding:0; width:320px; }
#inner-bg #research-block .text-block p { padding: 0; }
#research-block .none-b { background:none; margin:0 0px 0px 0; padding:0; width:320px; }
#corp-info { float:left; margin:20px 20px 0 0; padding:0; width:210px; }
#corp-info h4, #careers h4, #prods-svcs h4, #resources h4, #analyst-block h4, #analyst-btm h4 { color:#8497a1; border-bottom:1px solid #ccdde5; font:normal 20px/23px arial, helvetica, sans-serif, verdana; margin:0px 0px 11px 0px; padding: 0px 0px 2px 0px }
#corp-info ul.info { float:left; margin:0px 40px 0px 0px; padding:0px; }
#corp-info ul.none { margin:30px 0 0; }
#corp-info ul.none li { margin:0px; padding:0px 0px 3px 0px; }
#careers { float:left; margin:27px 0 0; padding:0px; width:210px; }
#careers p { padding-bottom:10px; }
#corp-info ul.info li span { color:#666 }
#corp-info ul.info li.padd { margin:0; padding:0px 0px 7px 0px }
#prods-svcs { display:inline-block; float:left; margin:20px 20px 0px 0px; padding:0; width:210px; }
#prods-svcs .colItem { float:left; display:inline-block; margin:0; padding:0; }
#prods-svcs .colItem .text-block { margin:0px 0px 15px 0px; padding:0 0 15px; }
#prods-svcs .colItem .none { background:none; margin:0; padding:0; }
#prods-svcs .none { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; margin:0 0 15px; }
#prods-svcs .text-block h5 { background: url("http://na3.www.gartner.com/imagesrv/images/icons/arrow-green.gif;wa24df26305d62eee8") no-repeat right center; color:#5c6970; display: inline-block; font-size:11px; font-weight:bold; margin:0; padding-right: 8px; text-transform:uppercase; }
#prods-svcs .text-block h5 > a, #resources .text-block h5 > a { color:#5c6970; text-decoration:none; }
#prods-svcs .text-block h5 > a:hover, #resources .text-block h5 > a:hover { text-decoration:underline; }
#inner-bg #prods-svcs .colItem .text-block p { padding:0px; }
#resources { display:inline-block; float:left; margin:20px 0px 0px 0px; padding:0; width:210px; }
#resources .colItem { float:left; display:inline-block; margin:0; padding:0; }
#resources .colItem .text-block { margin:0px 0px 15px 0px; padding:0 0 15px; }
#resources .colItem .none { background:none; margin:0; padding:0; }
#resources .text-block h5 { background: url("http://na3.www.gartner.com/imagesrv/images/icons/arrow-green.gif;wa24df26305d62eee8") no-repeat right center; color:#5c6970; display: inline-block; font-size:11px; font-weight:bold; margin:0; padding-right: 8px; text-transform:uppercase; }
#inner-bg #resources .colItem .text-block p { padding:0px; }
.industry-block { display: inline-block; margin: 21px 0 0; padding: 0; width: 670px; }
.industry-block .colItem { float:left; margin:0px 20px 0px 0px; padding:0; width:210px; }
.industry-block .none { background:none; margin:0; padding:0; }
.industry-block .text-block { background:none; margin:8px 0 0; padding:0; }
#inner-bg .industry-block .text-block p { padding:0; }
.industry-block h4 { color: #8598A2; font: bold 12px/12px arial, helvetica, sans-serif; margin:0px; padding:0px; text-transform:uppercase; }
.industry-block .research-area { margin:0px 0px 17px 0px; }
.research-area { display:inline-block; line-height: 15px; margin:0; padding:0; }
.research-area .researhCol { float:left; margin:0px 20px 0px 0px; padding:0px; width:330px; }
.research-area .none { float:left; margin:0; padding:0px; width:320px; }
.research-area h4 { color: #8598A2; font: bold 12px/12px arial, helvetica, sans-serif; margin: 0; padding: 0 0 7px; text-transform: uppercase; }
.research-area h3 { font: bold 12px/15px verdana, arial, helvetica, sans-serif; letter-spacing:normal; margin: 0 0 7px; padding: 0; text-transform: none; }
.research-area h2 { color: #5C6970; font: normal 21px/23px arial, helvetica, sans-serif, verdana; margin: 0; padding: 0; }
.research-event { display: inline-block; float: left; line-height: 14px; margin: 32px 0 0; padding: 0; position: relative; }
.go_green { background: url("http://na3.www.gartner.com/imagesrv/research/images/channels/arrow-green.gif;wabed08a6228386d02") no-repeat scroll right 6px transparent; font-weight:bold; padding-right: 8px; }
/* sprite */
.r-e-h, .r-e-f { background:url("http://na2.www.gartner.com/imagesrv/research/images/aggregate/sprite.gif;wad5747720a7f37684") 0 0 no-repeat; }
.related-event { color: #FFFFFF; left: -43px; position: absolute; top: 31px; width: 723px; }
.related-event h3 { color:#fff; font-size:14px; font-weight:normal; margin:0px 10px 0px 0px; padding:0px 0px 3px 0px; text-align:left; }
.related-event h2 { color:#fff; font:bold 14px/14px verdana, arial, helvetica, sans-serif; margin:0px 10px 0px 0px; padding:0px 0px 7px 0px; text-align:left; }
.related-event span { font-size: 12px; line-height: 14px; }
.related-event a { color:#fff; text-decoration: none; }
.related-event a:hover { text-decoration: underline; }
.related-event-copy { padding:10px 0 12px 44px; }
.applications-event .related-event-copy { background:#E31836; }
.bi-event .related-event-copy { background:#EEAF00; }
.bpm-event .related-event-copy { background:#009B7A; }
.cio-event .related-event-copy { background:#5F6A72; }
.ea-event .related-event-copy { background:#5A447A; }
.infrastructure-event .related-event-copy { background:#34B233; }
.ppm-event .related-event-copy { background:#AF006E; }
.security-event .related-event-copy { background:#C75B12; }
.sourcing-event .related-event-copy { background:#448CCB; }
.r-e-h { height:2px; width:2px; position:absolute; right:0; background-position:top right; }
.r-e-f { height:9px; width:723px; background-position:bottom left; position:relative; bottom:2px; _bottom:7px; }
.event-highlights { float:left; margin:100px 0px 0px 0px; padding: 0px; width:670px; }
.event-highlights .content-block { float:left; line-height:15px; margin:0px 20px 0px 0px; padding:0px; width:330px; }
.event-highlights .none { float:left; line-height:15px; margin:0px; padding:0px; width:320px; }
.event-highlights h4 { color: #8598A2; font-size: 12px; margin: 0; padding: 0 0 7px; text-transform: uppercase; }
.event-highlights h6 { padding: 0px 0px 10px 0px; font-weight:normal; }
.inner-content .content-block h3, .inner-content .colItem h3 { font: bold 12px/15px verdana, arial, helvetica, sans-serif; margin: 0 0 2px; padding: 0; text-transform: none; }
.content-block li.date { color: #333333; font-size: 11px; font-weight: bold; margin: 0; padding: 0 0 8px; }
.content-block li.summary { font-weight: normal; margin: 0; padding: 0 0 8px; }
.content-block ul.bullets { display: inline-block; float: left; margin: 16px 0 0; padding: 0 0 5px; width: 100%; }
.content-block ul.bullets li { background: url("http://na1.www.gartner.com/imagesrv/images/bullet_blue.gif;wa96448c1fe202747d") no-repeat scroll left 4px transparent; font-weight: normal; margin: 0; padding: 0 0 5px 15px; }
.event-by-region { float: left; left:-10px; line-height: 14px; margin: 43px 0 0; padding: 0; position:relative; }
.event-by-region h4 { color: #8598A2; font-size: 12px; margin: 0 0 3px; padding: 0 0 3px 10px; position: relative; text-transform: uppercase; }
.tab-list { background-color: #8598A2; float: left; height: 30px; margin: 0 0 22px; padding: 0 0 0 10px; width: 670px; }
.tab-list ul { height: 28px; margin: 2px 0 0; }
.tab-list ul li { float:left; font-weight:bold; background-color:#FFFFFF; height:20px; padding:8px 10px 0 10px; }
.tab-nav-hover { text-decoration:underline; }
.tab-nav-hover-none { text-decoration:none; }
.ev-tab { margin:0px; padding:0px 10px 0px 10px; }
.event-by-region .colItem { float:left; margin:0px 0px 15px 0px; padding:0px; width:310px; }
.event-by-region .colItem li.date { color: #333333; font-size: 11px; font-weight: bold; margin: 0; padding: 0 0 8px; }
.event-by-region .colItem li.summary { font-weight: normal; margin: 0; padding: 0 0 8px; }
.ev-tab { margin: 0; padding: 0 10px; }
.event-by-region .gutter { float: left; height: 1px; margin: 0; padding: 0; width: 40px; }
.smallhdrtext { color: #666666; font-size: 11px; font-weight: normal; padding: 0px 8px 0px 8px; position:absolute; right:0px; text-transform:none; top:0px; }
ul.RegList { margin: 7px 0 0; padding: 0; width: 100%; }
ul.RegList li { font-weight: normal; margin: 0; padding: 0; }
ul.RegList li h5 { color:#333; font-size: 12px; margin: 0 0 5px; padding: 0; text-transform: none; }
ul.RegList li.summary { font-weight: normal; margin: 0; padding: 0 0 8px; }
ul.RegList li.link { font-weight: bold; margin: 0; padding: 0; }
#audience img { margin: 0 10px 0 0; padding: 0; }
.main-block { display:inline-block; margin:0 0 20px; padding:0; }
.main-block img.feat { margin:0px 10px 0px 0px; padding:0px; }
.main-block img { margin: 0 5px 0 0; padding: 0; }
.mktg3_Col { float:left; display:inline-block; margin:0 20px 0 0; padding:0; width:210px; }
.mktg3_Col h4 { color:#8497a1; font:normal 20px/20px arial, helvetica, sans-serif, verdana; margin:0px 0px 8px 0px; padding: 0px; }
.mktg3_Col ul.list-dotted, .mktg3_Col div.list-dotted { background: url("http://na1.www.gartner.com/imagesrv/images/blueDot.gif;wa05382293de9e46f9") repeat-x left bottom; font-weight:bold; margin:0 0 15px; padding:0 0 15px; }
.mktg3_Col div.list-dotted { font-weight:normal; }
.mktg3_Col ul.list-dotted li, .mktg3_Col ul.solid-hr li { font-weight:bold; line-height:15px; margin:0; padding:0 0 4px; }
.mktg3_Col .solid-hr { border-bottom:1px solid #B9D0DC; margin:0 0 15px; padding:0 0 15px; }
.mktg3_Col h5 { color:#333333; text-transform:none; margin:0; }
.main-block li, .mktg3_Col .colItem li, .mktg3_Col ul.list-dotted li { font-weight:bold; }
ul.nolinks { line-height:15px; margin:0px; padding:0px; }
ul.nolinks li { margin:0px; padding:0 0 4px; }
a.nolink { color: inherit; text-decoration: inherit; cursor:inherit;}
a.nolink:hover { text-decoration:none; }