/*Mobile
----------------------------------------------*/

h1{padding: 0 0 0.5em 5px;}
h2.subheader{padding: 0 0 0.5em 5px;}
.header-block{padding: 0;}
#header .top .header-block {height:inherit;}
#header .top {padding:0.5em;}
#header a.logo {position: static;}
#header .segment-title{position: static; margin: .5em 0;}

#header .top-menu{}

.sidebar{ display:none;}
.main {float:inherit;width:inherit; margin:0 5px 20px 5px;box-sizing:border-box;}
.main.fullwidth{width:95%;}
#subheader .default-page {display:none;}
#header .header-block,#subheader .subheader-block,#content .content-block,#content2 .content-block,#footer .footer-block{position:relative;width:inherit;margin:0 auto;}

#header .nav{min-width:inherit;}
#content,#content2,#subheader{min-width:inherit;}
#subheader .social {display:none;}
#footer .nav{min-width:inherit;}
.slider{display:none;}
#header .top-menu {margin: 10px 0 0;width:auto;font-size:1.2em;}
.search input {width: auto;max-width:100%;}
.id-like ul { width:inherit; padding:0 0 0 10px;}
.id-like ul.right {float:left; width:inherit;}
.id-like li.last {border-bottom: 1px dotted #B1B3B4;}
.id-like {padding: 10px; margin:0.5em;}
#subheader .path {margin: 0 0 1em;padding: 0.5em;}
.mod-section .banner .text {float:none;width:inherit;}

.break-handheld{display:block;}
.hidden-handheld{display:none;}

/* home
******************************************/

.main-module {display:none;}
.news-and-events{display:none;}
.home-modules {padding:5px;margin:20px 0 0 0;}
.home-modules .module {
    background: #FFF none;
    float: none;
    height: auto;
	padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    position: relative;
    width: inherit;
}


.home-modules .module-1 h2 {
	background:#00A9E0 none;
    height: 85px;
	padding:5px;
    width: inherit;
}

.home-modules .module-2 h2 {
    background:#00A9E0 none;
    height: 85px;
	padding:5px;
    width: inherit;
}

.home-modules .module-3 h2 {
   background:#00A9E0 none;
    height: 85px;
	padding:5px;
    width: inherit;
}

.home-modules .module.last{background: none;}


/* country lightboxes
****************************************/
.country-lightbox {padding:0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
.country-lightbox div {width:100%;padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
.country-lightbox ul {width:100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
.country-lightbox ul li {width:100%;float:none;border-top:1px solid #ccc;padding:15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
.country-lightbox ul li:first-child {box-shadow: none;border-right:0;}
.country-lightbox a.close {position:relative;float:right;display: inline-block;clear:both;top: inherit;margin:10px 15px;}
.country-lightbox form {clear: both;}
.country-lightbox form input[type="checkbox"] {margin-left:0;}
.country-lightbox .spriteflags {border:0 !important;margin: 0 8px 5px 0 !important;}

.country-lightbox.cookies p {padding:10px 40px 10px 15px;}

.country-lightbox.no-specific ul li:first-child {padding-top:0;}
.country-lightbox.no-specific ul li:first-child p {margin-top:0;}


/* nav
****************************************/
#header .nav li.customer-area {position:static;right:inherit;top:inherit;}
#header .nav li {float:none;height: auto; border-bottom: 1px dotted #B1B3B4;}
#header .nav li a {background: none; text-align:center;}
#header .nav li a:hover {background:none;color: #FFFFFF;}
#header .nav li.menu-customer-area {position: static;text-align:center;}
#header .nav li.menu-customer-area a {background-image: none;background-position: 10px 12px;background-repeat: no-repeat;padding: 0;}

#header .nav li .content {position: relative !important;top: 0 !important;width:inherit !important;height: auto !important; z-index:0; !important}
#header .nav li .content a{ text-align:left;}
.brand-a #header .nav li .content li a{margin: 10px 0;}
#header .nav li .content .column-1, #header .nav li .content .column-2, #header .nav li .content .column-3 {float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}

#header .nav li .content .box_140{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_160{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_190{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_230{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_270{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_290{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_340{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_410{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_445{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
#header .nav li .content .box_600{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}

#header .nav li .content .go.bottom_content{width:inherit; position:static; bottom: 0; border-top:1px dotted #E0E1E1; padding-top: .5em;}

#header .nav li .content ul.left {float: none;width:inherit;}
#header .nav li .content ul.right {float: none;width:inherit;}
#header .nav li .content li.last {border-bottom: 1px solid #E0E1E1;}

/* Top nav brand architecture
****************************************/

.brand-a #header .nav li .content{position: relative;top: 0;}
.brand-a #header .nav li .content.bottom-img{padding-bottom: 100px}
.brand-a #header .nav li .content .box_140{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_160{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_160.left{padding:0; margin:0;}
.brand-a #header .nav li .content .box_190{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_200{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_210{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_230{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_270{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_290{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_340{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_410{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_445{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li .content .box_600{float: none;width:inherit;padding:0 0 1em 0; margin:0 10px 0 5px;}
.brand-a #header .nav li {float: none !important;height: auto;border-bottom: 0 none;}
.brand-a #header .nav li .content li.last {border-bottom: 0 none;}
.brand-a #header .nav li a:hover {background:none;color: #005EB8;}
.brand-a #header .nav li .content .box_340.pb75{padding-bottom: 0 !important;}

.brand-a #header .nav li .content .box_275{float: none; width: inherit; max-width: 100%; padding: 0 0 1em 0; margin: 0 10px 0 5px;}
.brand-a #header .nav li .content .box_375{float: none; width: inherit; max-width: 100%; padding: 0 0 1em 0; margin: 0 10px 0 5px;}
.brand-a #header .nav li .content .box_285{float: none; width: inherit; max-width: 100%; padding: 0 0 1em 0; margin: 0 10px 0 5px;}

.brand-a #header .nav li .content .left, .brand-a #header .nav li .content .right {float: none;}
.brand-a #header .nav li.menu-solutions .content .box_210 {padding: 0;margin: 0 0 20px 0;}
#header .nav li .content .view-all{width: auto;max-width: 100%;}

#header .nav li.investors .content a.title, #header .nav li.menu-solutions .content a.title {width: 100%;}
#header .nav li.menu-solutions .content .tit-00 img {float: left;}

#subheader .path li{font-size:1.2em;}

.mod-section {margin:1em 0.5em;}
.mod-section .banner {padding: 0.5em 0.5em 1em 0.5em; background-image:none; height:100%;}
.mod-section .banner img {display: none;}
.mod-section .banner h2 {margin: 0.5em;}
.mod-section .banner .btn {margin-left: 0.5em;}
.mod-section .content {padding: 10px;}
.mod-section .column1 {float:none;margin: 0;padding: 0;width:inherit;}
.mod-section .column2 {float:none;padding: 0;width:inherit; border:none;}
.mod-section .download {float: left;padding: 1em 0 0 0;margin:1em 0 0 0;width:inherit;}
#content .download-btn {margin: 0 1em 1em 0;}
#footer .nav .footer-block { padding:20px;}
#footer .nav li.column {display: block; margin-bottom: 20px;}
#footer .nav li.column li{margin:8px 10px 8px 0;}
#footer .bottom ul.nav{ display:block; margin:0 0 0.5em 0;}
#footer .bottom a.btn01 {float:inherit;font-size: 1.2em;margin: 5px 0;}

#footer .bottom ul.nav li{font-size:1.2em;}

#footer .bottom ul#cssSwitch{display:inline;}
#footer .bottom ul#cssSwitch li{display:inline;font-size:1.2em;background:url(../img/footer_sep_blue.gif) no-repeat 0 2px;padding:0 4px 0 8px;line-height:2.9;}
#footer .bottom ul#cssSwitch li.first{background:none;}

/* 02 Local websites
********************************************/

.content-block{ width:inherit;}
.local-web{ width:inherit; height:auto; position:static; padding:5px; margin:0;}
.local-web ul { padding:0 0 10px 0;}
.local-web ul li div ul{ padding:0;}
.local-web li {float: none; margin:2px 5px;}
.local-web li div {width:inherit;margin: 5px;padding:5px;position: static;border-bottom: 1px dotted #96999D;}
.local-web li h2 a {background: none repeat scroll 0 0 #1A61A9;color: #FFFFFF;}

.local-web-items-flag {padding: 1em .5em;}
.local-web-items-flag ul li {width: 100%;}

.spriteflags {
	background: url('../img/flags/30x20/spriteflags.png') no-repeat 1px 1px #FFF;
	width: 30px !important;
	height: 20px !important;
	float: left;
	border: 1px solid #fff !important;
	margin: 0 !important;
	padding: 0 !important;
} 
.borderflags {
	border: 1px solid #ccc !important;
	width: 32px !important;
	height: 22px !important;
	float: left;
	margin: 2px 10px 0 0 !important;
	padding: 0 !important;
}

/* 05 Solutions and Services bn
********************************************/

.intro{ width:inherit; padding:5px;}
.check {width:inherit;margin:5px;padding:10px;}
.check ul {float: none;padding: 5px;width: inherit;}
.check ul.right {float: none;}

/* 06 solutions and services industry
******************************************/
.industry-sub{ padding:5px;}
.industry-sub-item, .industry-sub-container-items .omega {height:auto;width: inherit;margin:5px 0;}

/* 07 product service list
********************************************/

.subnav{ width:inherit; padding:5px 5px 20px 5px; margin: 0; float:none;}
.subnav2{ width:inherit; padding:5px 5px 20px 5px; margin: 0; float:none;}
.main.col3 {width: inherit; float:none}
.item-list { padding:5px;}
.item-list h2 {padding: 10px 0;}

/* 08 product overview
********************************************/

.tabs li {float:none; font-size: 1.2em; margin:2px 5px; width: 100%; max-width: initial;}
.tabs li a{line-height: 2;}
.key-benefits {width:inherit;margin: 5px;padding:5px;}
.tabs li h2 a {background: none repeat scroll 0 0 #1A61A9;color: #FFFFFF;}
.key-benefits h2 {padding: 5px;}
.main-features {margin: 5px;padding: 5px;}
.screenshots-demo {margin: 5px;padding: 5px;}
.screenshots-demo .demo {float: none;width:inherit;max-width:217px;}
.screenshots-demo .demo img {height:auto;width:100%;max-width:217px;}
.screenshots-demo .screenshots {float: none;width: inherit;	}
.resources {background: none;margin: 5px;padding: 5px;}
.resources h2 {padding: 5px;}
.resources .column1 {float: none;padding:5px; width: inherit;}
.resources .column1 li {padding:5px;}
.resources .column1 li p {min-height:30px;}
.resources .column2 {float: none;padding: 5px;width: inherit;}
.resources li.resources-btn {width: 173px; margin:0 10px 10px 0;}
.coverage-map {margin: 5px; padding: 5px; }
.coverage-map .map {width:inherit;}
.coverage-map .map img {height:auto;width:100%;max-width:407px;}


/* 09 service
********************************************/

.our-experts {padding: 5px;}
.our-experts .experts li {float: none;padding: 1.4em 0 1.7em 8.2em;position: relative;width: inherit;}
.resources-list {padding: 5px;}

/* 10 resources downloads
********************************************/
.resources-search {padding: 5px; margin:5px;}
.search div {min-width: 160px;}
.resources-search .pagination{padding: 15px;}
.resources-search .pagination li.prev,
.resources-search .pagination li.next{display: block;position:static;clear:both;}
.resources-search .pagination li.prev{text-align:left;}
.resources-search .pagination li.next{text-align:right;}
.resources-search .download a{line-height:2em;}

/* 11 img video flash map text
********************************************/

/* 12 resources and downloads faqs
********************************************/
.faq-list{ padding:5px;}

/* 13 custom area
********************************************/
.sub-title { padding:5px;}
.extranet-module {float: none;margin:0 5px 20px 5px; width: inherit;}
.extranet-module li .description {float: none;width: inherit;padding:0 0 0 60px;}

/* 14 industry home version1
********************************************/

.home-modules .module-4 h2 {
    background: #1A61A9 none;
	
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.50, rgb(49,113,177)),
    color-stop(0.51, rgb(28,99,170))
	);
	background-image: -moz-linear-gradient(
		left top,
		rgb(49,113,177) 50%,
		rgb(28,99,170) 51%
	);
	
    float: none;
    position: relative;
    width: inherit;
	height:auto;
	padding:5px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.home-modules .module h2 a {color: #FFFFFF;padding: 5px;}
.home-modules .module ul {}
.module.explore-amadeus ul li {width: 50%;}
.home-modules .module .go {position: static;}

.module.contact-amadeus {
    background: none #c80096 !important ;
	
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.50, rgb(208,38,166)),
    color-stop(0.51, rgb(200,0,150))
	) !important;
	background-image: -moz-linear-gradient(
		left top,
		rgb(208,38,166) 50%,
		rgb(200,0,150) 51%
	) !important;
    color: #FFFFFF;
    height: auto;
    margin: 0 0 10px 0;
    position: relative;
	padding:0 0 11px 0;
    width: inherit;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-border-radius: 6px;
	border-bottom-right: 6px;
	border-bottom-left: 6px;
}

.module.contact-amadeus .btn{ position:static; display:block; float:none; margin:0 11px;}

#header .nav li.menu-solutions .column-2 ul.two-columns{ width: inherit; float: none; padding:0}

#header .nav li .content .column-1-2{float: none;width: inherit; padding:5px 5px 10px 5px;}
#header .nav li .content .column-1-2 ul.left{width: inherit;}
#header .nav li .content .column-1-2 ul.right{width: inherit;}

.opinionleaders .intro-image .text{padding:0;}

/* 15 industry home version2
********************************************/

.home-modules .double-module{ width:inherit; background:none #D0D1D2;
background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0.07, rgb(232,233,234)),
    color-stop(0.77, rgb(208,209,210))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(232,233,234) 7%,
    rgb(208,209,210) 77%
);
}
.home-modules .module-5 h2 {
	background:none #999;
	
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.50, rgb(163,163,163)),
    color-stop(0.51, rgb(153,153,153))
	);
	background-image: -moz-linear-gradient(
		left top,
		rgb(163,163,163) 50%,
		rgb(153,153,153) 51%
	);
	
	float:none;
	width:inherit;
	height:auto;
	padding:5px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;}
.home-modules .module-5 h2 a {padding: 5px;}

.home-modules .double-module ul {
    float: none;
    width: inherit;
}

.home-modules .double-module ul.right {
	border-top:1px dotted #96999D;
    float: none;
    width: inherit;
}
.home-modules .module-5 span.tit{
	width:auto;
	max-width: 100%;
	height:auto;
}

/* 16 industry home version3
********************************************/

/* 17 info profile
********************************************/

.main.col2 .sub-content {float: none;width: inherit;}
.intro-image {padding: 5px;position: static;}
.intro-image .image {display:none;}
.intro-image .text {padding: 0;}
.col2 .id-like {margin: 5px;padding: 10px;}
.col2 .id-like ul {padding:0; width:inherit;}

/* 18 why amadeus
********************************************/
.why-sub { float:none; padding:0 5px;}
.main .banner-01 {background: none repeat scroll 0 0 #66BC29;margin: 10px 0 0;padding: 5px;}
.main .banner-01 .text {float: none;width: inherit;}
.main .banner-01 h2, .main .banner-01 p {margin:0;}
.main .banner-01 .btn {margin: 5px 0 0 0; float:none}
.main .banner-01 .box-left {float: none;height: auto;margin: 5px 0 0 0;padding: 10px;width: inherit;}
.why-sub-item, .why-sub-item-02 {border: 1px solid #E6E7E7;float: none;height: auto;margin: 0 5px 5px 0;padding: 5px;width: inherit;}
.why-sub-item p a img, .why-sub-item-02 p a img{ display:none;}
.module.twitter-double{width:auto;max-width:100%;}


/* 19 about amadeus
********************************************/
.about-sub{ padding:5px}
.about-sub-item {float: none;margin: 0 0 10px 0;padding: 10px;position: static;width: inherit; height:auto}
.about-sub-item.right {float: none;}
.about-sub-item .description {float: none;width: inherit;}
.about-sub-item img.image {display:none;}
.sub-content.corner-3 .main.col3 {width: inherit;}
.sub-content.corner-3 {margin: 5px;padding: 5px;}

/* 20 careers
********************************************/
.careers-sub-item {float: none;height: auto;margin: 5px;padding: 5px;width:inherit;}
.careers-sub-item p a img {height:auto;width:100%;max-width:170px;}

/* 21 open positions
********************************************/
form .row li {float: left;}
form input {width: 98%;}
form label, form .label {width: inherit;padding:0 10px 0 0;}
.open-positions-form .select select {width: inherit;}
.open-positions-form .select {float: none;margin: 0;width: 100%;}
.main.col3 {padding: 5px; margin:0;}
.open-positions-search .pagination{padding: 15px;}
.open-positions-search .pagination li.prev,
.open-positions-search .pagination li.next{display: block;position:static;clear:both;}
.open-positions-search .pagination li.prev{text-align:left;}
.open-positions-search .pagination li.next{text-align:right;}

/* 22 form
********************************************/
.form {padding: 10px;margin: 5px 5px 20px 5px;width: inherit;}
form textarea {width: 98%;}
form .note {color: #333333;float: left;font-size: 1.1em;font-weight: bold;padding: 0;}
form .mandatory {color: #333333;font-size: 1.1em;font-weight: bold;position: absolute;right:auto;top: 42px;}
form .error {width:98%;margin:0;padding:2px;}
form .error .arrow {display:none}
form .submit {padding-left: 0;}

/* 23 Offices
********************************************/

.offices-list .where {float: none;margin: 5px;padding: 5px;width: inherit;}
.offices-list .where .map {width: inherit;height:auto;}
.offices-list .where .map {width: 100%;height:auto;}
.offices-list .where .map img {width: 100%;height:auto;}
.offices-list ul {margin: 20px 5px;}
.offices-list h2 {padding:0 5px;}
.offices-list {padding: 0;
}

/* 24 Offices List
********************************************/

.headquarters-map{width: inherit;}
.headquarters-map img{width: 100%; height:auto;}
.headquarters-tabs {border:none;margin: 5px;padding: 0;}

.headquarters-tabs-content .alphabet-tabs li {float:left;}
.headquarters-tabs-content .alphabet-tabs {margin: 5px;padding: 5px;}
.headquarters-tabs-content .list li {float: none;margin: 10px 0 0 5px; width: inherit;}

/* 25 News Events
********************************************/
.media-centre .main{
	width:auto;
	max-width: 100%;
}


/* 26a News Events list news
********************************************/
/* 26b News Events list news
********************************************/
/* 26c News Events list news
********************************************/
/* 26d News Events list news
********************************************/
.resources-search ul.list li{padding:10px;}
.resources-search ul.list li img{position: static;margin-bottom: 10px;}


/* 27 Media Centre
********************************************/
.media-centre-modules-02 .module {width: inherit;float:none}
.media-centre-modules-02 .module.special .content {height: auto;}
.media-centre-modules-02 .module.right {float: none;}
.media-centre-modules-02 .module.special.video-gallery .content ul li a {width: inherit;}

/* 28 Video retail
********************************************/

/* 30 Sitemap
********************************************/
.site-map {padding:0 5px;}
.site-map .sidebar {display:block !important;width:inherit;padding: 0;float:none;}
.sidebar .module {width: inherit;}
.sub-content.sidebar .module {float: none;margin:0 0 10px 0;}
.site-map .solutions-services {width: inherit;}
.site-map .module .column.right, .site-map .module .column {float: none;width: inherit;}
.site-map .module .column.right{padding: 10px 0 0 0;}
.site-map .sidebar .module .content {height: auto;}
.site-map .sidebar .module {width:inherit;}

/* 31 404 page
********************************************/
.error-title {margin: 5px;padding: 10px;width: inherit;}
.error-items li {float: none;margin: 5px;padding: 10px;width: inherit;height:auto}

/* 32 investors
********************************************/
.investor-items li {float: none;margin: 5px 5px 10px 5px;padding: 5px;width: inherit;min-height:75px;}
.investor-items li.right {float: none;margin: 5px;}
.investor-items li img {float:left;left:auto;position: static;top:auto;margin:0 10px 0 0;}
.investor-items li h2 {margin:0;padding: 0;}
.investor-items li .description {font-size: 1.1em;margin: 0;}
.more-info-item {margin: 5px 5px 10px 5px;padding: 5px;}
.more-info-item h2 {padding: 0 0 10px;}
.more-info-item ul {padding: 0 0 0 5px;width:inherit;}
.latest-news-item {float: none;margin: 5px 5px 10px 5px;padding: 5px;width: inherit;}
.upcoming-events-item {float: none;margin: 5px 5px 10px 5px;padding: 5px;width: inherit;}
.upcoming-events-item.right {float: none;}

/* 33 resources and downloads
********************************************/

.resources-items li {float: none;height: auto;margin: 5px;padding: 5px;position: static;width: inherit;}
.resources-items li img {float: left;margin: 0 10px 0 0;}
.resources-items li .description {float: none;width: inherit;}
.resources-items li.right {float: none;}
.resources-items li {float: none;height: auto;margin: 5px;padding: 5px;position: static;width: inherit;}
.resources-items li.wide-photo img {margin: 0 0 1em;width:100%;height:auto;max-width:290px;margin:0 10px 5px 0;	}
.resources-items li.wide-photo .description {clear:both;}

/*  00 communities
************************/
.communities{ padding:5px 0 20px 5px;}
.communities ul li {float: none;height: 320px;margin: 20px 0;width: inherit;}
.communities ul li.last, .communities ul li.first {margin: 10px 0;}
.communities ul li.double.last{width: 290px; height:320px; float:none; margin:20px 0;}
.communities ul li.double .header-community {height: 20px;padding: 0 0 10px;width: inherit;}
.communities ul li.youtube-community .main-community { width:inherit; height:auto; padding:5px}
.communities ul li.youtube-community .main-community .video {float: none;height: auto;padding: 0 20px 0 0;width: inherit;}
.communities ul li.youtube-community .main-community .info {float: none;height: auto;padding: 20px 0 0;width: inherit;}
.communities ul li.double .footer-community {width: 292px;}
.communities ul li.youtube-community .footer-community-dropdown{width: 280px; background: #FFF; height:auto}
.communities ul li.youtube-community .footer-community-dropdown ul{float:none;width:inherit;padding:0;}


/*  3YOSP - 2013
************************/

/*  01 senior management
************************/

.team-sub-container-items { padding: 0 5px; }

/*  03 general template
************************/

.module.general, .module.general.module-340, .module.general.module-460 {width: auto;margin: 0 0 10px 0;}
.module.general img {width: 100%;height: auto;}
.ho-item, .testimonial-item {float: left !important;}

/* 08 customer support
***************************/

ul.screenshots li {margin: 0 0 10px 0; }
.customer-support a.info-link {margin: 0 0 10px 0;}

/* 09 training
***************************/
.training-filter { margin: 0 5px;}
.training-filter .sub-content .col{ width: 100%; float: none;}


.training-filter .sub-content .col.location {float: none;width: 100%;}
.training-results {margin: 0 5px 2em 5px;}

.training-results .pagination{padding: 15px;}
.training-results .pagination li.prev,
.training-results .pagination li.next{display: block;position:static;clear:both;}
.training-results .pagination li.prev{text-align:left;}
.training-results .pagination li.next{text-align:right;}

/* 11 Facts and Figures
***************************/

.facts-and-figures{padding: 5px;}
.facts-and-figures .module.globally img{float: none;max-width: 100%;height:auto;}
.facts-and-figures .module.globally ul{padding-left: 0 !important; padding-top: 10px; float: left;}
.facts-and-figures .module.travel-agents .data li{height: auto;clear: both;}

/* 12 Our customers
*************************/

.customer-stories{display: none;}
.top-stories-title{display: none;}
.customer-filter{margin: 0 5px;}
.customer-filter .sub-content{ padding: 10px;}
.customer-filter .keyword input{ width: 96%; margin: 0;}
.customer-filter .keyword label{ width: 100%; float: none; padding: 0 0 0.5em;}
.customer-filter label{ width: 5em; float: none; padding: 0 0 0.5em;}
.customer-filter .row li{ width: 100%; padding: 0 1em 1.5em 0;}
.customer-filter .bottom-text {
    float: right;
    padding: 1em 0 0;
    width: 100%;
}
.customer-results{margin: 0 5px;}
.customer-results ul.list li .description {
    float: left;
    width: auto;
}
.customer-results ul.list li .img-customer {
    float: left;
    text-align: left;
    width: auto;
    padding: 0 0 1em 0;
}
.customer-results .pagination{padding: 15px;}
.customer-results .pagination li.prev,
.customer-results .pagination li.next{display: block;position:static;clear:both;}
.customer-results .pagination li.prev{text-align:left;}
.customer-results .pagination li.next{text-align:right;}

/* 13 History
*************************/

.history-container{ position: relative; background-color: #F3F3F3; border: 1px solid #e7e7e7; height: 800px; overflow: hidden; margin: 0 5px;}
.history{ padding: 10px 5px; overflow: hidden;}
.history .module .content img{display: none;}


/*  14 Information for Airline Opinionleaders
************************/
.opinionleaders .latest-news{margin:0 5px;}
.opinionleaders .latest-reports{margin:0 5px;}
.opinionleaders .news-events{margin:0 5px;}

/*  16 press contacts
************************/

.press-sub-container-items{float:none;}
.press-sub-item {margin: 5px; width: 100%; box-sizing:border-box;}
.press-sub-item .press-info{float: left; width: auto; padding: 1em 0;}
.press-sub-item .press-data{width:100%;}
a.back {margin: 0 0 20px 5px;}
span.print{margin: 0 5px 0 0;}


/*  17 solutions and services
************************/

.ss-product-categories{margin:0 5px;}
.ss-product-categories ul.right{float:left; padding-left: 0;}
.ss-product-categories li.last{border-bottom:1px dotted #B1B3B4;}
.ss-product-categories ul{float:left;width:auto;padding:0;}

.ss-product-categories ul.w190{float:left;width:auto;padding:0;}
.ss-product-categories ul.w190.right{float:left; padding-left: 0;}

.browse-solutions { margin:0 5px 10px 5px;}
.browse-solutions label { width: auto; margin: 0 0 5px 0;}

.ss-product-subcategories{margin:0 5px 10px 5px;}

/* 10 Segment sitemap
***************************/

.sitemap-products {padding: 0 5px;}
.sitemap-products .sub-content {padding: 10px;}

.sidebar.fullaligntop{display: block !important; padding: 0 5px; width: inherit; float: none;}

/*  18 segment home
************************/

.home-segment-modules{margin:2em 0;}
.home-segment-modules .module { background-color: #FFF;}
.home-segment-modules .mod_left {
    float: none;
    margin: 0 .5em 2em .5em !important;
}

.home-segment-modules .mod_dotted.mod_220x180 {width: auto; height: auto;}
.home-segment-modules .mod_dotted.mod_220x380 {width: auto; height: auto;}
.home-segment-modules .mod_dotted.mod_460x180 {width: auto; height: auto;}
.home-segment-modules .mod_dotted.mod_460x380 {width: auto; height: auto;}

.home-segment-modules .mod_box.mod_220x180 {width: auto; height: auto;}
.home-segment-modules .mod_box.mod_220x380 {width: auto; height: auto;}
.home-segment-modules .mod_box.mod_460x180 {width: auto; height: auto;}
.home-segment-modules .mod_box.mod_460x380 {width: auto; height: auto;}

.home-segment-modules .mod_dotted.mod_220x180 {}
.home-segment-modules .mod_dotted.mod_220x380 {}
.home-segment-modules .mod_dotted.mod_460x180 {}
.home-segment-modules .mod_dotted.mod_460x380 {}

.home-segment-modules .mod_box.mod_220x180 .content {}
.home-segment-modules .mod_box.mod_220x380 .content {}
.home-segment-modules .mod_box.mod_460x180 .content {}
.home-segment-modules .mod_box.mod_460x380 .content {}

/*  22 product index
************************/
.product-index { padding: 0 5px; }
.product-index .product-index-filter .keyword input {margin: 0 1em 0.5em 0;width: 100%;}
.product-index .product-index-filter .row li {padding: 0 1em 1em 0;width:100%;}
.product-index .product-index-filter .filter-category label {width: 100%;}   
.product-index .product-index-filter .filter-category select {width: 100%;}
.product-index-list ul ul.liCol {width: 100% !important;}
.product-index-list h3 {border-bottom: 1px dotted #96999D;color: #333333;font-size: 1.2em;margin: 0 0 10px;padding: 0 0 10px;width: auto;}

/*  26 shares
************************/
.intro > img{max-width: 100%;height:auto;}


/*  23,32,33,34,35,36,37,38 careers
************************/
#content .careers-boxes .module {
margin: 5px;
width: auto;
}

#content .careers-boxes .module img {
margin: 1.4em !important;
}

.careers-slider-container {
margin: 5px 0;
display: inline-block;
width: 100%;
}

.careers-media-results-content {padding: 25px 5px;}
.careers-media-results {
margin: 5px 5px 4em 5px;
}
.offices-map{display: none;}

.careers-home-carousel{ display: none;}
#content .careers-intro-boxes .find-your-new-job {
    width: auto;
    margin: 5px;
}

#content .careers-intro-boxes .job-openings {
	margin: 5px;
    width: auto;
    height: auto;
}

#content .careers-intro-boxes .job-openings img{
	margin: 5px;
    float: none;
}

#content .careers-boxes .module.fullwidth {
	margin: 10px 5px;
    width: auto;
}

#content .careers-boxes .module.fullwidth h2 {
	margin: 0;
	padding: 0;
}

#content .careers-boxes .module.fullwidth img{
	margin: 5px;
    float: none;
}

/*  28,29,30,31 Investor relations
************************/

.share-info-modules { margin: 1em 5px;}
.share-info-modules .module{ width: auto; margin: 0 0 10px 0; float: none; }

.ir-download-centre-filter{margin: 0 5px;}
.ir-download-centre-results{margin: 0 5px;}

.ir-search-row2 {text-align: left;}
.ir-filters .ir-filter-apply{display: block;}

.ir-download-centre-results .pagination{padding: 15px;}
.ir-download-centre-results .pagination li.prev,
.ir-download-centre-results .pagination li.next{display: block;position:static;clear:both;}
.ir-download-centre-results .pagination li.prev{text-align:left;}
.ir-download-centre-results .pagination li.next{text-align:right;}

.ir-download-centre-filter .docutype ul.col1{ width: auto; float: none;}
.ir-download-centre-filter .docutype ul.col2{ width: auto; float: none;}
.ir-download-centre-filter .docutype ul.col3{ width: auto; float: none;}
.ir-download-centre-filter .years { float: none; width: auto; margin-bottom: 20px;}
.ir-download-centre-filter .quarters { float: none; width: auto;}

.ir-financial-information-filter{margin: 0 5px;}
.ir-financial-information-filter .sortby { margin-bottom: 5px; float: none; width: 100%;}
.ir-financial-information-filter .reporttype { margin-bottom: 5px; float: none; width: 100%;}
.ir-financial-information-filter .reporttype ul.col1{ width: 100%;}
.ir-financial-information-filter .reporttype ul.col2{ width: 100%;}
.ir-financial-information-filter .years { margin-bottom: 10px;float: none; width: 100%;}
.ir-financial-information-filter .bottom-text {padding: 0;float: none;width: 100%;}
.ir-financial-information-filter .bottom-text .right {float: none;width: 100%;}
.ir-financial-information-filter .bottom-text input.btn {width: 14em !important;margin: 0 0 5px 0;float: none;padding: 0;}
.ir-financial-information-filter .bottom-text span {font-size: 1.2em;float: none;padding: 2px 0 0 0; text-align: left;}

.ir-financial-info-modules { margin: 0 5px; float: none; }
.ir-financial-info-modules .module{ width: 100%; margin: 0 0 10px 0; float: none; }
.ir-financial-info-modules .module.omega{ width: 100%; margin: 0 0 10px 0; float: none; }
.ir-financial-calendar{margin:10px 5px 0 5px;}

.financial-info .banner{float: none;margin-left: auto;margin-right: auto;text-align: center;}
.financial-info .banner img{margin-left: auto;margin-right: auto;}

.ir-search-row1, .ir-search-row2{float: none;width: 100%;margin-bottom: 3px;}

.ir-download-centre-results-content .row .sep, .ir-download-centre-results-content .row-sep{display: none;}
.ir-download-centre-results-content .row .item{display:block;margin-bottom: 20px;width: 100%;}


/* 32, 33, 34, 35, 36, 37 careers, careers testimonials, careers media center
************************/

.find-your-fit ul{float:none;width:auto;}
.find-your-fit ul.right{float:none;padding-left: 0;}

.testimonials-results .pagination{padding: 15px;}
.testimonials-results .pagination li.prev,
.testimonials-results .pagination li.next{display: block;position:static;clear:both;}
.testimonials-results .pagination li.prev{text-align:left;}
.testimonials-results .pagination li.next{text-align:right;}

.testimonials-filter .filter-location,.testimonials-filter .row li{float:none;width:auto;max-width: 100%;}
.testimonials-filter .bottom-text input.btn{float:none;}

.testimonials-results-content ul.list li .image{float: none;margin:0 auto 10px;}
.testimonials-results-content ul.list li .description{margin:0;}

.careers-media-filter .filter-category,.careers-media-filter .row li{float:none;width:auto;max-width: 100%;}
.careers-media-filter .bottom-text input.btn{float:none;}

.careers-media-results .pagination{padding: 15px;}
.careers-media-results .pagination li.prev,
.careers-media-results .pagination li.next{display: block;position:static;clear:both;}
.careers-media-results .pagination li.prev{text-align:left;}
.careers-media-results .pagination li.next{text-align:right;}


/* 2014_Visitors Type Profiles_Corporate
-----------------------------------------------*/

/*.pilars00 .title.title01, .pilars00 .title.title02, .pilars00 .title.title03 {background: #005EB8 !important; background-color: #005EB8;}*/
/*.pilars01 .title.title01, .pilars01 .title.title02, .pilars01 .title.title03, .main .pilars01 .title.title01, .main .pilars01 .title.title02, .main .pilars01 .title.title03 {background-color: #005EB8 !important; width: 85%;}*/

.pilars00 .banner{background-color: #005EB8 !important;}
.pilars01 .module, .main .pilars01 .module{ width: 100%;}

.brand-a-home-modules{margin: 0 5px;}

.brand-a-home-modules .st-07{margin:0 0 20px 0 !important; width: 100% !important;padding-bottom: 120px;}
.brand-a-home-modules .st-07 .content{padding-bottom: 15px !important; background: none !important;}
.brand-a-home-modules .st-07 .content li{width: 100% !important; float: none;}
.brand-a-home-modules .st-06{margin:0 0 20px 0 !important; width: 100% !important;}

/* 2014_Business Pillar_Connect, Serve & Manage_Corporate
---------------------------------------------------------*/

.main .segment-selector-01 ul li {width: 100%!important;}

.lista01 { width: 100%; }
.lista01 li img { float: none; margin: 0 auto; }
.lista01 .lista01_right { margin-top: 10px; width: 100%; }
.col3 .lista01 .lista01_right{ width:100%; }


/* Solutions and services
---------------------------------------------------------*/
/* Simple slider */

h1.top-slider2 {padding: 5px;}
h1.top-slider {padding:5px;}
.simple-slider, .main .simple-slider { margin-top: 40px; width: 100%; display: none; }
.simple-slider .slideritems { height: 120px; }
.main .simple-slider .slideritems { height: 90px; }
.simple-slider .slideritems li, .main .simple-slider .slideritems li { width: 300px; }
.simple-slider .slideritems li img { height: 120px; }
.main .simple-slider .slideritems li img { height: 90px; }
.main .segment-selector-01 ul li .outer a {padding-left: 10px;}
.contact_box.st02 {float: left; margin-left: 5px; width: auto; max-width: 100%;}
.pilars02 {margin: 5px;}
.pilars02 .module{width:100%;}
.pilars01 {margin: 5px;box-sizing:border-box;width:95%;max-width:300px;overflow: hidden;}
.pilars01 .title, .pilars02 .title{width: 100%;}
.pilars02 .title{box-sizing:border-box;}
.contact-banner{float: left; margin-left: 5px;}
/* Contact banner */
.contact-banner, .contact-banner img, .main .contact-banner, .contact-banner img {max-width: 100%;height:auto;}



/* Newsroom
---------------------------------------------------------*/

.nr-archive #content,
.nr-archive #content2,
.nr-archive #content3,
.nr-home #content,
.nr-home #content2,
.nr-home #content3,
.nr-home #content4,
.newsroom-detail #content,
.newsroom-detail-export #content{
	padding: 20px;
}

.nr-home .ns-title-container,
.nr-home .ns-title-container .title,
.nr-home #content3 .content-block{
	width: auto;
}

.nr-home .ns-title-container .share{
	width: auto;
	padding-right: 20px;
}

.nr-home .nr-featured-slider{
	display: none;
}

.nr-home .nr-featured-slider-contanier{
	width: 100%;
}

.nr-featured-mobile{
	width: 100%;
	margin-bottom: 20px;
}

.nr-featured-mobile .item img{
	width: 100%;
	height: auto;
}

.nr-featured-mobile .item-data{
	padding: 20px;
	background-color: #E9E9E9;
	font-size: 14px;
}

.nr-featured-mobile .item-data h3{
	font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.nr-archive .sidebar,
.newsroom-detail .sidebar{
	display: block;
	float: none;
	width: auto;
}

.nr-archive .sidebar .module.banner-box{
	background-color: #C7C9C6;
}

.nr-archive .sidebar .module.banner-box img{
	margin: 0 auto;
}

.nr-search-container{
	margin: 0 5px;
}

.nr-filters li {
	float: none;
	margin-bottom: 10px;
}

.nr-featured-container {
	width: 100%;
	height: auto;
}

.nr-search-row2 .nr-filters {
	float: none;
}

.nr-search-row2 ul li .nr-apply-btn {
	width: 100% !important;
}

.nr-results-list .module .header{
	box-sizing: border-box;
	width: 100%;
	height: 51px;
}

.nr-results-list .module .image{
	background-color: #C7C9C6;
}

.nr-results-list .module .image img{
	margin: 0 auto;
}

.nr-results-list .module .footer{
	width: auto;
	background-color: #F7F7FA;
	transition: all 500ms ease 0s;
    left: 0;
    right: 0;
    padding: 0 15px;
}

.nr-results-list .module:hover .footer{
	background-color: #FFFFFF;
}

.nr-results-list .module .footer .segments li{
	margin-bottom: 5px;
}

.nr-results-show-more a.btn {
	display: block;
	float: none;
	margin: 0 auto 20px;
	width: 93%;
	max-width: 290px;
}

.blog-ns-visit a.btn {
	box-sizing: border-box;
	float: none;
	width: 100%;
	max-width: 290px;
	margin: 0;
}

.nr-featured-promo {
	float: none;
	width: 100%;
	height: auto;
	margin: 10px 0;
}

.nr-featured-promo .item{
	width: 100%;
	margin-bottom: 20px;
}

.nr-featured-promo .item > a > img{
	display: none;
}

.nr-featured-promo .item.mode01 > a > .container{
	position: static;
	background-color: #005EB8;
}

.nr-featured-promo .item.mode01 ~ .item.mode01 > a > .container{
	background-color: #00A9E0;
}

.nr-featured-promo .item.mode01 ~ .item.mode01 ~ .item.mode01 > a > .container{
	background-color: #CE0058;
}

.nr-featured-promo .item.mode01 > a > .container > .content > img,
.nr-featured-promo .item.mode01 > a > .container > .content > p{
	display: inline-block;
	vertical-align: middle;
}

.nr-featured-promo .item.mode01 > a > .container > .content > img{
	margin-top: 5px;
	margin-right: 10px;
}

.nr-searchfield {
	box-sizing: border-box;
	width: 100%;
	height: 46px;
}

.nr-search-row2.no-results{
	min-height: 70px;
}

.nr-search-row2 ul li .nr-filter-btn {
	box-sizing: border-box;
	width: 100%;
}

.nr-results-mask{
	margin: 0 5px;
}

.nr-results-show-more{
	margin: 0 5px;
}

.nr-results-list .module{
	width: 100%;
	margin-right: 0;
}

.nr-home .blog-ns-list .module{
	float: none;
	width: 100%;
	margin: 0 auto 20px;
}

.nr-home .blog-ns-list .module .image{
	background-color: #C7C9C6;
	text-align: center;
}

.nr-home .blog-ns-list .module .image img{
	margin: 0 auto;
}

.explore-ns .content-block {
	width: auto;
	margin: 0 auto;
	padding: 0 5px;
	transition: all 500ms;
}

.explore-ns .item {
	width: 100%;
}

.explore-ns .item .header{
	height: auto;
	background-image: none!important;
}

.explore-ns .item.rich-over .header.active{
	background-color: #005EB8;
}

.explore-ns .item .header .header-content{
	height: auto;
	padding: 15px 15px 15px 80px;
	text-align: left;
}

.explore-ns .item .header .header-content img,
.explore-ns .item .header .header-content .ico{
	float: left;
	margin-left: -50px;
}

.explore-ns .item .content {
	width: 100%;
}

.explore-ns .item .content ul{
	width: auto;
}

.explore-ns .item.segment .content li {
	width: 100%;
}

.explore-ns .item .content li {
	width: 100%;
	float: none;
	box-sizing:border-box;
}

.blog-ns .content-block {
	width: 100%;
	padding: 0 5px;
}

.nr-archive #content3 .content-block{
	width: auto;
}

/* Newsroom detail
---------------------------------------------------------*/

.newsroom-detail .main .buttons-bar-02 .left,
.newsroom-detail .main .buttons-bar-02 .right{
	float: none;
}

.newsroom-detail .main .buttons-bar-02 .export{
	margin: 10px 0 0;
	padding: 0;
	float: none;
}

.newsroom-detail .main .main-img .video{
	position: relative;
	display: block;
	max-width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.newsroom-detail .main .main-img .video iframe{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%!important;
	height: 100%!important;
	border: 0px none;
}

.rmedia-resources .nr-results-show-more a.btn {
	margin: 0 auto;
	width: 100%;
	padding: 6px 20px;
	box-sizing:border-box;
}

.rel-news-posts .nr-results-show-more a.btn {
	margin: 0 auto;
	width: 100%;
	padding: 6px 20px;
	box-sizing:border-box;
}

.rel-news-posts .rel-news-posts-list .module,
.rmedia-resources .rel-media-resources li{
	float: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.rmedia-resources .rel-media-resources li .image img{
	margin-left: auto;
	margin-right: auto;
}

.rel-news-posts .rel-news-posts-list .module.story .header{
	width: 100%;
}

.rel-news-posts .rel-news-posts-list .module .image{
	background-color: #C7C9C6;
}

.rel-news-posts .rel-news-posts-list .module .image img{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.rel-news-posts .rel-news-posts-list .module .content .footer{
	width: 100%;
	background-color: #F7F7FA;
	transition: all .5s;
}

.rel-news-posts .rel-news-posts-list .module:hover .content .footer{
	background-color: #FFFFFF;
}

.nr-related-documents{
	background-color: #C7C9C6;
}

.nr-related-documents img{
	margin-left: auto;
	margin-right: auto;
}

.contact-at .contact{
	overflow: hidden;
}

.module.sidebar-icon-links{
	margin-bottom: 20px;
}

.module.sidebar-icon-links ul{
    padding: 0px;
}

.module.sidebar-icon-links ul li {
    margin: 0px 0px 10px;
    background-color: #F7F7FA;
    padding: 0px;
}

.module.sidebar-icon-links ul li a {
    margin: 0px;
    padding: 8px 15px 8px 42px;
    font-size: 1.5em;
    line-height: 1.3em;
    display: block;
    font-family: "amadeusregular",Verdana,arial,helvetica,sans-serif;
    opacity: 0.4;
}

.module.sidebar-icon-links ul li.current a {
    opacity: 1;
    background-color: #E5E5E5;
}

.module.sidebar-icon-links ul li a img {
    float: left;
    margin-right: 10px;
    margin-left: -28px;
}


/* Newsroom detail export
---------------------------------------------------------*/

.newsroom-detail-export .main {
margin: 40px 5px;
}

.media-items .tabs li {
float: left;
width: auto;
}

.media-items > li,
.media-items > li.omega{
	float: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.media-items .image{
	width: 100%;
}

.media-items .tabs li a{
	margin-bottom: 5px;
}

/* Airlines Systems
---------------------------------------------------------*/
.airline-systems-main {
	padding: 0 5px;
}
.airline-systems-main .module.half {
  width: 100% !important;
  margin: 0;
}

.airline-systems-main .module .image img {
  width: 100%;
  height: auto;
}

.airlines-systems-container .mod-contanier .tcell {
  display: block !important;
  margin-bottom: 10px !important;
}

.airline-systems-main .module .list-st-00 {
  float: none !important;
  width: 100% !important;
  margin-bottom: 10px;
}

#content3 .content-block {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.airlines-sys #content3 .content-block {
  width: 100%;
}

.menu-airline-systems .airline-system {
  width: 90% !important;
}

.main-features .blocks li .column2{width: auto;}

.airline-systems-main .module .list-st-00 .list.third li{float:none!important;width:auto!important;}


/* Accordions
---------------------------------------------------------*/

/* old accordions */

.subnav li{font-size:1.4em;clear:both;}
.subnav li>a{margin-bottom: 5px}

.subnav #subnav-accordion li{font-size:1.4em;clear:both;}
.subnav #subnav-accordion a.icon{background-size: 26px 52px;background-position: 0 -26px;width:26px; height:26px;}
.subnav #subnav-accordion a.icon.open{background-size: 26px 52px;background-position: 0 0;}
.subnav #subnav-accordion li>a{margin-bottom: 5px}


/* new accordions */

.subnav .subnav-acc li {font-size: 1.4em;}

.subnav .subnav-acc li a.icon, .subnav .subnav-acc li li a.icon{width:26px;height:26px;background-size:104px 52px!important;}
.subnav .subnav-acc li a.icon.open{background-position:0 0;}
.subnav .subnav-acc li a.icon{background-position:0 -26px;}
.subnav .subnav-acc li li a.icon.open{background-position: -26px 0;}
.subnav .subnav-acc li li a.icon{background-position: -26px -26px;}

.subnav .subnav-acc li a.link, .subnav .subnav-acc li li a.link{padding: 5px 0 15px 20px;}


/* Helper class
-------------------------------------*/

.nr-desktop-only{
	display: none;
}

.nr-mobile-only{
	display: block;
}