@import url(style.css);

/* reset
****************************/
body { zoom:100%;width:100% !important;margin:0 !important;padding:0 !important;color:#000;}
p,a,h1,h2,h3,h4,h5,h6,span{color:#000;}
#header .nav, .top-menu, .search, .sidebar, #subheader, div.nav, #footer .bottom a.blue-btn{visibility: hidden;overflow: hidden;width: 0px;height: 0px;}
ul.nav li{visibility: hidden;}
ul.nav li.first{visibility:visible;}
.main{width:100%;margin:0 !important;padding:0 !important;}
#wrapper{margin:0 !important;padding:0 !important;}

/* all
**********************************/
#header a.logo{display:block;height:40px;}
.content-block .group{ width:100%;}
#footer .footer-block {width:100%;}
#footer .footer-block a.btn{display:none}
.header-block{width:100%;}
#header, #subheader, #content, #footer, #wrapper{width:100%;}
a img { border: none; }
.slider {display:none}
.subnav {display:none}
.subnav2 {display:none}

/* 04 solutions and services
**********************************************/

.id-like ul {float: left;padding: 0;width: 100%;}
.id-like li {padding: 1em 0 1em 0;}
.mod-section .banner {height: auto;}
.id-like ul li{padding: 1em 0 1em 0;width: 100%;}
.id-like h2 {color: #000;font-size: 2em;}
.download{visibility: hidden;overflow: hidden;width: 0px;height: 0px;}
.mod-section .column1, .mod-section .column2 {width: 100%;border-left:none;padding: 0;}
.mod-section .content li {padding: 0.2em 0 0.1em 0;}
.mod-section .banner .btn {visibility: hidden;overflow: hidden;width: 0px;height: 0px;}

/* 06 solutions and services industry
**********************************************/
.industry-sub-container-items .omega {margin: 0 1.4em 1.4em 0;}
.industry-sub-item{margin: 0 1.4em 1.4em 0;}

/* 07 product service list
**********************************************/
.main.col3 {width: 100%;}
.item-list h2 {color: #000;}

/* 08 product overview
**********************************************/

.tab-content.hide {
display: block;
}
.resources {display:block;}
.resources .column1 {width: 100%;}
.resources .column2 {display: none;}
.tabs li.on a{display: block;}
.tabs li a {display: none;}
.key-benefits h2 {color: #000;}
.main-features h2 {color: #000;}
.main-features .blocks li .column1 {float: none;width: 100%;}
.main-features .blocks li .column2 {float: none;width: 100%;}

.screenshots-demo .screenshots {float: none;width: 100%;}
.screenshots-demo .demo {float: none;width: 100%;}
.screenshots-demo .screenshots ul li ul { float:left;}
.screenshots-demo .demo .btn {display: none;}

/* 09 services
**********************************************/
.key-benefits h2 {color: #000;}
.our-experts h2 {color: #000;}
.resources-list h2 {color: #000;}
.our-experts .experts li {float: none;  padding: 1.4em 0 1.7em 8.2em;width: 100%;}
.our-experts .experts li.right {float: none;}


/* 11 img video flash map text
**********************************************/
.intro h2 {color: #000;}


/* 17 Info profile
**********************************************/
.main.col2 .sub-content {width: 100%;}
.intro-image .image {display:none}
.col2 .id-like ul {width: 100%;}
.col2 .id-like ul {width: 100%;}
.id-like ul.right {float: none;}
.intro-image .text {padding: 0;}


/* 18 why amadeus
****************************************/
.main .banner-01{ display:none}

/* 23 offices
****************************************/
.offices-list .where {float: left; margin: 0}
.offices-list h2 {color: #000;}
.offices-list ul { float:left;}
.offices-list .where ul {float:none;}

/* 24 offices list
****************************************/

.headquarters-tabs {border: none; padding:0}
.headquarters-tabs .tabs li a {padding:10px 0}
.headquarters-tabs-content .alphabet-tabs {border: none; padding:0;}
.headquarters-tabs-content .alphabet-tabs .tabs li a {padding: 0;}


/* 26a News Events list news
********************************************/
.pagination {
	display:none;
}
/* 26b News Events list news
********************************************/
/* 26c News Events list news
********************************************/
/* 26d News Events list news
********************************************/

/* 33 resources and downloads
****************************************/
.resources-items li {width: 40em;}
.resources-items li.wide-photo img {margin: 0 1em 1em 0;}
.resources-items li .description {float: right;width: 30em;}



/*  3YOSP - 2013
************************/

/*  01 senior management
************************/

.team-sub-container-items{padding:2em 0 1em 0; float:left;}
.team-sub-container-items .omega{margin:0  1.8em 1.8em 0;}
.team-sub-item{border:1px solid #e6e7e7; width:130px; padding:1.4em; float:left; margin:0  1.8em 1.8em 0;}

/*  03 general template
************************/
.module.general.module-340{width: 48%;}
.ho-item, .testimonial-item {float: left !important;}

/* 09 Passport into Travel
***************************/

.passport-travel .intro .bottomBtn .btn{display: none;}
.passport-travel .intro a.back {display: none;}


/* 11 Facts and Figures
***************************/
.facts-and-figures .module .data li{padding-left: 0;}
.facts-and-figures .module.travel-agents .data li{padding-left: 0;}

/*  13 our customers
************************/

.customer-filter{display: none;}
.customer-filter-title{display: none;}
.stories-bullets{display: none;}

/*  13 history
************************/

.history-container{ height: auto; width: 100% }
.history{ padding: 10px; width: 100%}
.history .module{width: 45% !important;}
.history .module .content{-webkit-box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.1); box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.1); border-top:none;color:#666;font-size:1.2em;border:1px solid #e7e7e7;padding:13px; background-color: #FFFFFF;}
.history .module .content img{display: none;}
.history-footer{ display: none;}

.timestamp{display: none;}

/*  14 Information for Airline Opinionleaders
************************/

.opinionleaders .intro-image .text {padding: 0;}
.opinionleaders .news-events{display: none;}
.opinionleaders .latest-news a.more {display: none;}

/*  16 press contacts
************************/

a.back {display: none;}
span.print{display: none;}
a.info-link{display: none;}

/*  17 solution and services
************************/

.ss-product-categories ul {width: 45%;}

.ss-product-categories ul.w190{float:left;width: 45%;padding:0;}
.ss-product-categories ul li a{display: none;}
.ss-product-categories ul.w190.right{float:right; padding-left: 0;}

.ss-product-categories .sub-categories{display: none;}
.browse-solutions{display: none;}

.ss-product-subcategories{display: none;}


/*  15 customer testimonial
************************/

.customer-testimonial .intro .menu-00 {display:none;}
.customer-testimonial .intro .menu-01 {display:none;}
.customer-testimonial .intro h3 {display:none;}


/*  09 training
************************/
.training-filter{display: none;}


/*  32,33, 35,36,37,38 careers
************************/
.careers-slider-container {
	display: none;
}

/* Visitors Type Profiles_Corporate
*************************************/

.pilars00 .module {width: 30%;}
.pilars00 .title.title01, .pilars00 .title.title02, .pilars00 .title.title03 {background: #005EB8 !important; color: #000; text-align: left; padding: 0;}
.pilars00 .title.title01 a, .pilars00 .title.title02 a, .pilars00 .title.title03 a {background: #005EB8 !important; color: #000 !important; text-align: left; padding: 0;}

.pilars00 .banner a{text-indent: 0 !important; text-align: left; padding: 0; color: #000 !important; background: none;}

.pilars01 .title.title01, .pilars01 .title.title02, .pilars01 .title.title03 {background: #005EB8 !important; color: #000; text-align: left; padding: 0;}
.pilars01 .title.title01 a, .pilars01 .title.title02 a, .pilars01 .title.title03 a {background: #005EB8 !important; color: #000 !important; text-align: left; padding: 0;}

/* Media slider
*************************************/
.media-slider { display: none; }

/* 3D slider
*************************************/
.slider-3d { display: none; }

/* Simple slider
*************************************/
.media-slider { display: none; }

/* Multiple rows slider
*************************************/
.multiplerows-slider { display: none; }

/* Contact us
*************************************/
.contact-us { margin-bottom: 2em; }
.contact-us h2 { font-size: 1.3em; }
.contact-us .btn-big { display: none; }

/* Business Pillar Connect Serve
*************************************/
.main .segment-selector-01 ul li {
float: none;
width: 100% !important;
margin: 20px 0;
}
.main .segment-selector-01 ul li span a{
padding-left: 0;
color: #000;
}
.main .segment-selector-01 ul li .accordion span a.link {
padding-left: 0 !important;
}
.lista01 .lista01_right {
float: right;
width: 85%;
}

/* Category
*************************************/
.col3 .lista01 .lista01_right {
float: right;
width: 85%;
}

/* Solutions & services
*************************************/

.simple-slider {display: none;}
.pilars02 .title {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.pilars02 .title a {padding: 0 !important; color: #000 !important; display: block;}
.pilars01 .title {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.pilars01 .title.title01 {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.pilars01 .title.title02 {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.pilars01 .title.title03 {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.pilars01 .title a {padding: 0 !important; color: #000 !important; display: block;}

/* Brand architecture
*************************************/
.brand-a-home-modules .pilar_st01 .mod-title {height: auto;display: block;width: 100%;}
.brand-a-home-modules .pilar_st01 .mod-title a {display: block;padding-left: 0 !important; color: #000 !important;}
.brand-a-home-modules .pilar_st01 .content.p15 {padding: 10px 0 0 0 !important;}

.brand-a-home-modules .pilar_st03 .mod-title {height: auto !important;display: block;width: 100%; text-indent: 0!important; font-size: 2em;}
.brand-a-home-modules .pilar_st03 .mod-title a {height: auto !important; display: block;padding-left: 0 !important; color: #000 !important; text-indent: 0!important;}
.brand-a-home-modules .pilar_st03 .content.p15 {padding: 10px 0 0 0 !important;}
.brand-a-home-modules .st-07 .content ul li {width: 100% !important;float: none;color: #000;padding: 0;margin-bottom: 10px;}

.brand-a-home-modules .st-07 .content ul li a {color: #000;}

.main .pilars02 .title {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}
.main .pilars02 .title a {padding: 0 !important; color: #000 !important; display: block; height: auto; width: auto;}

.main .pilars03 .title {height: auto !important;display: block;width: 100%; text-indent: 0!important; font-size: 2em;}
.main .pilars03 .title a{height: auto !important; display: block;padding-left: 0 !important; color: #000 !important; text-indent: 0!important;}

/* Newsroom detail
*************************************/

.newsroom-detail .main .buttons-bar-00 {
	display: none;
}

.newsroom-detail .main .buttons-bar-02 {
	display: none;
}

.newsroom-detail .main .main-img img{
	width: 100%;
	margin: 2em 0;
}

.newsroom-detail .main-text p {
	margin: 0 0 2em 0;
}

.headline-st00 {
font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;
font-size:2.4em;
margin-bottom: 4em;
}

.contact-at .contact {
padding: 2em;
background-color: #F7F7FA;
}

.contact-at img {float: left; margin: 0 2em 0 0 ;}

.contact-at .contact .name{
	display: block;
	margin-bottom: 1em;
}
.contact-at .contact .jposition{
	display: block;
	margin-bottom: 1em;
}

.contact-at .contact .mail{
	display: block;
	margin-bottom: 1em;
}

.rmedia-resources-mask {
	height: 100% !important;
}

.rmedia-resources .rel-media-resources li {
float: left;
margin: 2em;
width: 22em;
}

.rmedia-resources .rel-media-resources li .content {
padding: 1em 0 0 0;
}

.rel-news-posts .rel-news-posts-list .module {
float: left;
margin: 2em;
width: 22em;
}

.rel-news-posts .rel-news-posts-list .module .image img {
width: 100%;
height: auto;
}

.showMoreLess-btn{
	display: none;
}

.rel-news-posts-mask {
	height: 100% !important;
}

.rel-news-posts .rel-news-posts-list .module .header {
margin: 0 0 1em 0;
}

.rel-news-posts .rel-news-posts-list .module .content {
padding: 1em 0;
}

.newsroom-detail-export .main .headline-st00 {
font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;
font-size:2.4em;
margin: 1em 0;
}


