
.sidebar.v2{padding: 14px 0 0;}

/* subnav-accordion-2
--------------------------*/

.subnav > a.link {
  background: transparent url("../img/ico_menu_no_unfold.png") no-repeat scroll 10px 2px;
  padding: 0px 0px 12px 30px;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.subnav .subnav-acc a {  display: block;padding: 0 0 15px 20px;}

.subnav .subnav-acc a.active { color: #000; }
.subnav .subnav-acc .current a { color: #000; }
.subnav .subnav-acc li ul { display: block; }

.subnav .subnav-acc li { background: 0 none; padding: 0 0 0 10px; font-size: 1.1em; font-weight: bold;}
.subnav .subnav-acc li a.link {font-size: 1.1em;}
.subnav .subnav-acc li a.icon { display: block; margin: 0 8px 0 0; float: left; padding: 0; background: url(../img/fold_unfold_icon.png) 0 -13px; width: 13px; height: 13px; overflow: hidden; text-indent: -9000px; }
.subnav .subnav-acc li a.icon.open { background: url(../img/fold_unfold_icon.png) 0 0; }
.subnav .subnav-acc li ul{ margin:0;}
.subnav .subnav-acc li li { background-position: 0 1em; font-size: 1em; margin: 0;}
.subnav .subnav-acc li li a {border-bottom: 0 none;}
.subnav .subnav-acc li li a.icon { display: block; margin: 0 8px 0 0; float: left; padding: 0; background: url(../img/fold_unfold_icon.png) -13px -13px; width: 13px; height: 13px; overflow: hidden; text-indent: -9000px; }
.subnav .subnav-acc li li a.icon.open { background: url(../img/fold_unfold_icon.png) -13px 0; }
.subnav .subnav-acc li li a.link {padding: 0 0 10px 20px; margin-bottom: 10px; border-bottom: 1px solid #E5E5E5; font-size: .95em;}
.subnav .subnav-acc li li li a.link {border-bottom: 0px; padding: 0 0 15px 20px; margin-bottom: 0;}
.subnav .subnav-acc li.end {   background: url(../img/ico_go.gif) no-repeat 5px 3px; padding: 0 0 5px 20px;}
.subnav .subnav-acc li.end:last-child {padding: 0 0 15px 20px;}
.subnav .subnav-acc li.end a { border: 0; font-size: 1em; padding: 0;}
.subnav .subnav-acc .h { padding: 3px 0 0 0; }

.airline-systems-main {background-color: #E9E9E9 !important;padding-top: 3em;}
.airline-systems-main .title {margin-bottom: 20px; display:block; font-size: 2em;color: #005EB8;line-height: 1em;font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;}

.airline-systems-main .module{ background-color: #FFFFFF; float: left;margin: 0 0 20px 0; width: 100%; overflow: hidden; border-bottom: 1px solid #CCCCCC; position: relative;transition: all 500ms;}
.airline-systems-main .module.half{ width: 46em; margin: 0 20px 20px 0;}
.airline-systems-main .module:hover{ box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);}
.airline-systems-main .module.omega{ margin-right: 0;}
.airline-systems-main .module .content {padding:20px;font-size:1em; overflow: hidden;}
.airline-systems-main .module .content p{font-size:1.1em;}
.airline-systems-main .module .content h2 {font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif !important;font-size: 2.4em !important;margin-bottom: 10px;font-weight: normal;}
.airline-systems-main .module .image{position: relative;}
.airline-systems-main .module .image img{width: 100%; height: auto;}
.airline-systems-main .module .image .icon{position: absolute;bottom: -10px;left: 20px;width: 55px;height: 55px;display: block;background-repeat: no-repeat;}

.airline-systems-main .module .list-st-00{float: left;width: 29.3em;background-color: #F3F3F3;padding: 0;border: 0 none;}
.airline-systems-main .module .list-st-00:nth-child(3n+3){margin-right: 0 !important;}
.airline-systems-main .module .list-st-00:nth-child(n+4){margin-top: 10px !important;}
.airline-systems-main .module .list-st-00:hover{ box-shadow:none;}
.airline-systems-main .module .list-st-00 .content{}
.airline-systems-main .module .list-st-00 h3{font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif !important;font-size: 1.6em !important;background: url(../img/item-full-list-title-00.jpg) repeat-x left bottom;margin-bottom: -20px;padding: 10px 10px 26px 10px;font-weight: normal;}

.airline-systems-main .module .list-st-00.full{width: 100%; margin-right: 0;}
.airline-systems-main .module .list-st-00.half{width: 49.4%;}
.airline-systems-main .module .list-st-00.half:nth-child(2n+2){margin-right: 0 !important;}

.airline-systems-main .module .list-st-00 .list.third li {float: left;width: 31%;}

.airline-systems-main .module .footer{margin: 20px 0 0 0;}
.airline-systems-main .module .footer:nth-child(n+1){margin: 10px 0 0 0;}
.airline-systems-main .module .footer .module{margin: 0 10px 0 0;}
.airline-systems-main .module .footer .module.last{margin: 0;}

.airline .list li{margin: 0 10px 5px 10px;}
.airline .list.col2 li{width: 45% !important;float: left !important;}
.airline .list li a {background: url("../img/ico_go.gif") no-repeat scroll left 0.4em rgba(0, 0, 0, 0);font-size: 1.1em;padding-left: 15px;display: block;}

#content2 .content-block {padding: 0 0 30px 0;}
#content3 {background-color: #FFF;}
#content3 .content-block {width: 940px;margin: 0 auto;padding: 50px 0 0 0;}


/* top nav
--------------------------*/

.menu-airline-systems .airline-system.half{ width:420px; min-height: 306px;}
.menu-airline-systems .airline-system.half:nth-child(2n+2){margin-right: 0 !important;}

.menu-airline-systems .airline-system.third{ width:266px;}
.menu-airline-systems .airline-system.third:nth-child(3n+3){margin-right: 0 !important;}

.menu-airline-systems .airline-system.quarter{ width:190px;}
.menu-airline-systems .airline-system.quarter:nth-child(4n+4){margin-right: 0 !important;}

.menu-airline-systems .airline-system{ width:144px; position: relative; float: left;transition: all 250ms; margin-bottom: 10px; overflow: hidden; height: 100%;}
.menu-airline-systems .airline-system:nth-child(5n+5){margin-right: 0 !important;}

.menu-airline-systems .airline-system .secondary-nav-title{ padding-bottom: 0 !important;}
.menu-airline-systems .airline-system:hover{background-color:#E9E9E9 !important;transition: all 500ms;}
#header .nav .menu-airline-systems .airline-system a:hover{background: transparent !important; color:#00A9E0 !important;}
#header .nav .menu-airline-systems .airline-system .tit-00 .txt{  padding-right: 25px; display: block; font-weight: bold;}
#header .nav .menu-airline-systems .airline-system .tit-00 img{position: absolute;right: 15px;margin: 0 !important; width: 20px; height: 20px;}
#header .nav .menu-airline-systems .airline-system .ft {display: block;font-weight: bold;color: #666666;font-size: 1.1em;padding: 0 0 10px 0;}
#header .nav .menu-airline-systems .airline-system .list-as-00{margin: 10px 0 0 0;}
#header .nav .menu-airline-systems .airline-system .list-as-00 li {background-color: transparent;min-height: inherit;  margin-bottom: 5px;padding: 0;}
#header .nav .menu-airline-systems .airline-system .list-as-00 li a {background: url("../img/ico_go.gif") no-repeat scroll left 0.4em rgba(0, 0, 0, 0)!important;line-height: 1.2;font-size: 1.1em;padding-left: 15px;display: block;}
#header .nav .menu-airline-systems .airline-system .list-as-00 li a:hover {background: url("../img/ico_go.gif") no-repeat scroll left 0.4em rgba(0, 0, 0, 0)!important;}
#header .nav .menu-airline-systems .airline-system a.btn-link {font-size: 1.1em;}

/*
-------------------------------*/

.airlines-systems-container .footer .accordion li {padding: 0;margin: 0;}
.airlines-systems-container .footer .accordion .menu {padding: 15px;}
.airlines-systems-container .footer .accordion .menu li {background: url(../img/ico_go.gif) no-repeat 0 .4em;padding: 0 0 .5em 1.1em;margin: 0;font-size: 1.1em;}
.airlines-systems-container .footer .accordion .menu li a{color: #005EB8; padding: 0;}
.airlines-systems-container .footer .accordion .menu li a:hover{color: #00A9DF;}

.airlines-systems-container .footer .accordion .menu li.omega{margin: 0}

.airlines-systems-container .footer .accordion a.trigger,
.airlines-systems-container .footer .accordion  ul.accordion li a.trigger {display:block;height: 16px;float: left; margin: 0; padding: 0 0 0 25px; background: url(../img/segments-acc-main-plus.png) no-repeat; font-weight:normal; }
.airlines-systems-container .footer .accordion a.trigger.open,
.airlines-systems-container .footer .accordion ul.accordion li a.trigger.open {background: url(../img/segments-acc-main-minus.png) no-repeat;}
.airlines-systems-container .footer .accordion span,
.airlines-systems-container .footer .accordion ul.accordion li span {background: none; padding: 0 0 10px 0;font-weight:normal; display:block;}
.airlines-systems-container .footer .accordion .outer {border:0 none;}

.airlines-systems-container .footer .accordion{ padding: 0;}
.airlines-systems-container .footer .accordion .omega{margin: 0 0 20px 0;}
.airlines-systems-container .footer .accordion a{ color: #005EB8; padding-left: 18px; display: block;}
.airlines-systems-container .footer .accordion a:hover{ color: #00A9DF;}

.airlines-systems-container .footer .accordion { padding: 0; }
.airlines-systems-container .footer .accordion li { margin: 0 20px 5px 0; width: 100%; }
.airlines-systems-container .footer .accordion .outer { border: 0; padding-left: 8px; margin-bottom: 10px;}
.airlines-systems-container .footer .accordion .outer p { margin: 0 0 10px;  }
.airlines-systems-container .footer .accordion li { }
.airlines-systems-container .footer .accordion li span { border: 0; padding-bottom: 10px; border-bottom: 1px solid #E5E5E5; font-weight: bold; margin-bottom: 10px;}
.airlines-systems-container .footer .accordion li span.heading { border: 0; padding-bottom: 0;margin-bottom: 0;}
.airlines-systems-container .footer .accordion li span a { color: #005EB8;}

.airlines-systems-container .mod-contanier{display: table;height: 100%;margin: 0 0 20px 0;}
.airlines-systems-container .mod-contanier .tcell{display: table-cell;height: 100%;float: none;table-layout: fixed; vertical-align: top;}
.airlines-systems-container .mod-contanier .tcell .module{height: 100%;margin: 0 20px 0 0;table-layout: fixed;display: inline-block;}

/*
--------------------------------*/

.airlines-systems-accordion.bdrs{padding: 10px 0 0 0; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;}
.airlines-systems-accordion .accordion-00 {margin:0; padding: 0 !important;}
.airlines-systems-accordion .accordion-00 li{padding: 0;}
.airlines-systems-accordion .accordion-00 .h{margin:0 0 10px 0; font-size: 1.6em;}
.airlines-systems-accordion .accordion-00 a {font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;font-size: 1.7em;}
.airlines-systems-accordion .accordion-00 a.trigger {float:left; display:block; margin: 2px 10px 0 0; padding: 0; background: url(../img/fold_unfold_icon.png) 13px 0; width: 13px; height: 13px; overflow: hidden; text-indent: -9000px;}
.airlines-systems-accordion .accordion-00 a.trigger.open {background: url(../img/fold_unfold_icon.png) 13px -13px;}
.airlines-systems-accordion .accordion-00 .outer {border:0 none;}

.airlines-systems-accordion .accordion-01 {margin:0; padding: 0 !important;}
.airlines-systems-accordion .accordion-01 li{padding: 0 0 10px 0;}
.airlines-systems-accordion .accordion-01 li:last-child{padding: 0;}
.airlines-systems-accordion .accordion-01 .h{margin:0; padding:8px; background:url(../img/airlines-systems-accordion-bg.png) repeat-y; font-size: 100%; opacity: 0.7; filter: alpha(opacity=70);transition: all 250ms;}
.airlines-systems-accordion .accordion-01 .h:hover{opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-01 .h.active, .airlines-systems-accordion .accordion-01 .h.actual{opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-01 .h.actual a.trigger {display: none;}
.airlines-systems-accordion .accordion-01 .h a{font-size: 1.1em;line-height: 1.4;}
.airlines-systems-accordion .accordion-01 p{font-size: 1.1em;}
.airlines-systems-accordion .accordion-01 a.trigger {display:block; margin: 4px 0 0 0; float: right; padding: 0; background: url(../img/fold_unfold_icon.png)  26px 0; width: 13px; height: 13px; overflow: hidden; text-indent: -9000px;}
.airlines-systems-accordion .accordion-01 a.trigger.open {background: url(../img/fold_unfold_icon.png) 26px -13px;}
.airlines-systems-accordion .accordion-01 .h.current a.trigger {display: none;}
.airlines-systems-accordion .accordion-01 .outer {border:0 none; margin-top: 10px;}

.airlines-systems-accordion .accordion-01 a {font-family: Verdana, arial, helvetica, sans-serif;font-size: 1.1em; color: #FFF;}
.airlines-systems-accordion .accordion-01 a td{vertical-align: middle;}
.airlines-systems-accordion .accordion-01 a.title {opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-01 a.title:hover {opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-01 a.title img{width:20px; height:auto; margin-right: 21px; margin-left: 4px;}
.airlines-systems-accordion .accordion-01 a.title:hover img{opacity: 1; filter: alpha(opacity=100);}

/*.airlines-systems-accordion .accordion-01 .current a {opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-01 .current a img {opacity: 1; filter: alpha(opacity=100);position: absolute;margin-left: -28px;}*/

.airlines-systems-accordion .accordion-01 a.active {opacity: 1; filter: alpha(opacity=100);}
/*.airlines-systems-accordion .accordion-01 a.active img {opacity: 1; filter: alpha(opacity=100);position: absolute;margin-left: -28px;}*/


.airlines-systems-accordion .accordion-02 {margin:0; padding: 0 !important;}
.airlines-systems-accordion .accordion-02 li{padding: 0 0 10px 0;}
.airlines-systems-accordion .accordion-02 .h{margin:0; padding:8px; background-color: #F7F7FA; font-size: 1.6em;/* opacity: 0.6; filter: alpha(opacity=60);*/transition: all 250ms;}

.airlines-systems-accordion .accordion-02 a.title{opacity: 0.4; filter: alpha(opacity=40);}
.airlines-systems-accordion .accordion-02 a.title:hover{opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-02 a.active{opacity: 1 !important; filter: alpha(opacity=100) !important;}
.airlines-systems-accordion .accordion-02 .h.active{opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-02 .h.actual{background-color: #E5E5E5;}
.airlines-systems-accordion .accordion-02 .h.actual a.trigger {display: none;}
.airlines-systems-accordion .accordion-02 p{font-size: 1.1em;}
.airlines-systems-accordion .accordion-02 a.trigger {display:block; margin: 4px 0 0 0; float: right; padding: 0; background: url(../img/fold_unfold_icon.png) 13px 0; width: 13px; height: 13px; overflow: hidden; text-indent: -9000px;}
.airlines-systems-accordion .accordion-02 a.trigger.open {background: url(../img/fold_unfold_icon.png) 13px -13px;}
.airlines-systems-accordion .accordion-02 .outer {border:0 none; margin-top: 10px;}

.airlines-systems-accordion .accordion-02 a {font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;font-size: 1.7em;}
.airlines-systems-accordion .accordion-02 a td{vertical-align: middle;}
.airlines-systems-accordion .accordion-02 a.title {opacity: 0.4; filter: alpha(opacity=40); display: inline-block;}
.airlines-systems-accordion .accordion-02 a.title img{width:20px; height:auto; margin-right: 15px;}
.airlines-systems-accordion .accordion-02 a.title:hover img{opacity: 1; filter: alpha(opacity=100);}
.airlines-systems-accordion .accordion-02 .actual a {opacity: 1; filter: alpha(opacity=100);}

.airline .lista01_right h3 {color: #00A9DF;font-size: 1.6em;font-weight: normal;font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;}
.airline .lista01 ul li .slider {margin: 0; padding: 0;}
.airline .lista01 ul li .slider img { width: 86px; height: auto;}

.airline .main.col3 .header-img img {
  width: 100%;
  height: auto;
}

.airline .slider img {
  width: 100%;
  height: auto;
}

/*
--------------------------------*/

.airline-detail-accordion > li > h2 {
  font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 2em;
  border: 0 none;
  padding: 10px 20px !important;
  background-color: #F7F7FA;
}

.airline-detail-accordion > li > div > div > p {
  padding: 10px 0 !important;
}

.airline-detail-accordion > li {
  padding: 0 0 20px 0 !important;
  border: 0 !important;
  overflow: hidden !important;
}

.airline-detail-accordion .airline-detail-content > li:first-child{
  border: 0 !important;
}

/*.airline-detail-accordion li li {
  padding: 25px 0 20px 0;
  border-top: 1px solid #E5E5E5;
  overflow: hidden;
}

.airline-detail-accordion > li a.trigger {
  display: block;
  height: 16px;
  float: left;
  margin: 0;
  padding: 0 0 0 30px;
  background: url(../img/segments-acc-main-plus.png) no-repeat;
  font-weight: normal;
}*/

.airline-detail-accordion li a.link {
  color: #00A9DF;
  padding-left: 30px;
  display: block;
}

.airline-detail-accordion li h2 a.trigger {
  display: block;
  height: 20px;
  float: left;
  margin: 0;
  padding: 0 0 0 30px;
  background: url(../img/segments-acc-main-plus.png) 0 3px no-repeat;
  font-weight: normal;
}

.airline-detail-accordion li h2 a.trigger.open {
  background: url(../img/segments-acc-main-minus.png) 0 3px no-repeat;
}

.airline .lista01 {
  border-bottom: 0 none;
  clear: both;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.airline .lista01 h2 {
  font-family: 'amadeusregular', Verdana, arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 2em;
  border: 0 none;
  padding: 10px 20px !important;
  background-color: #F7F7FA;
  margin-top: 10px;
}

.airline .lista01 span.heading {
  font-size: 1em;
  color: #999;
}

.airline .lista01 ul li:first-child{
  border: 0 !important;
}


